<app-dashboard></app-dashboard>
<div class="resources-heading">
    <h1>Academy</h1>
</div>

<div class="tabs-nav resources-tabs underline-from-left">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#" [class.active]="isLinkActive('/student-dashboard/$/academy/blogs')" class="nav-link" routerLink="/student-dashboard/$/academy/blogs">
                <span>Blogs</span> 
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" [class.active]="isLinkActive('/student-dashboard/$/academy/vlog')" routerLink="/student-dashboard/$/academy/vlog">
                <span>Vlogs</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" [class.active]="isLinkActive('/student-dashboard/$/academy/Programs')" class="nav-link" routerLink="/student-dashboard/$/academy/Programs">
                <span>Programs</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" [class.active]="isLinkActive('/student-dashboard/$/academy/conferences')" class="nav-link" routerLink="/student-dashboard/$/academy/conferences">
                <span>Conferences</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" [class.active]="isLinkActive('/student-dashboard/$/academy/course')" class="nav-link" routerLink="/student-dashboard/$/academy/course">
                <span>Courses</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" [class.active]="isLinkActive('/student-dashboard/$/academy/store')" class="nav-link" routerLink="/student-dashboard/$/academy/store" title="Coming Soon">
                <span>Collegey Store <span id="upcoming" style="color: red; font-size: small;" >(Upcoming)</span></span>
            </a>
        </li>
    </ul>
</div>