.heading {
  font-size: 28px;
  line-height: 52px;
  font-family: Georgia;
  font-weight: 400;
  padding-top: 60px;
  margin-bottom: 20px;
}
.circle-box {
  width: 19%;
  margin: 0.5%;
}
img {
  /* padding: 10%; */
  /* background: white;
  margin-left: 1%;
  width: 75px; */
  height: 75px;
}
.list-winning .text-white {
  font-size: 16px;
}
.list-winning .flex-wrap {max-width: 850px;}

@media only screen and (min-width: 1200px) {
  .heading {
    font-size: 50px;
    margin-bottom: 60px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .circle-box {
    width: 32%;
  }
}
