<app-header class="header-space"></app-header>
<div class="content-wrapper" id="fullpage">
    <div class="section start-your-journey-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 hidden-initial" appAnimateOnScroll animationName="animated fadeInUp" [offset]="200">
                    <div class="start-your-journey-box">
                        <p class="ordinary-stuff animated fadeInUp">Why do ordinary stuff?</p>
                        <p class="Challenge-the-ordinary animated fadeInUp">#ChallengeTheOrdinary</p>
                        <button type="button" class="start-your-journey animated fadeInUp"
                            (click)="onRegister()">Start Your Journey</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-initial" appAnimateOnScroll animationName="animated fadeInUp" [offset]="500">
            <p class="bottom-text animated fadeInUp">Read #ChallengeTheOrdinary Stories</p>
        </div>
    </div>
    <div class="section collegey-your-story-wrap">

        <div class="container">

            <div class="row">

                <div class="col-md-12 col-sm-12">

                    <div class="collegey-your-story-box hidden-initial">

                        <div class="collegey-your-story-content is-animated">

                            <div class="create-it-box">
                                <span>Write it</span>
                                <span>Create it</span>
                                <span>Live it</span>
                            </div>
                            <p class="collegey-your-space is-animated">Collegey is your space. <br>Your story
                            </p>
                        </div>

                        <div class="hidden-initial">

                            <p class="bottom-text2">#Be<b>A</b>Doer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section collegey-student-advantage-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="collegey-student-advantage-box">
                        <div class="advantage-content-box hidden-initial">
                            <!-- hidden-initial -->
                            <div class="advantage-shade-text"></div>
                            <div class="collegey-heading">
                                <h2>Collegey <span class="span-block">Student Advantage</span></h2>
                            </div>
                            <div class="advantage-box-wrapper">
                                <div class="advantage-box">
                                    <img data-src="/assets/images/home/find-help-icon.svg" alt="Helps you find image">
                                    <p class="advantage-text"><span>Helps you find</span>Your impact-making capacity</p>
                                </div>
                                <div class="advantage-box bottom-space">
                                    <img data-src="/assets/images/home/leverages-icon.svg" alt="Leverages image">
                                    <p class="advantage-text"><span>Leverages that capacity</span>To bring you projects and connections
                                    </p>
                                </div>
                                <div class="advantage-box bottom-space2">
                                    <img data-src="/assets/images/home/leads-icon.svg" alt="Leads you image">
                                    <p class="advantage-text"><span>Leads you to an </span>Impactful career + meaningful life</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section how-collegey-works-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="how-collegey-works-box hidden-initial">
                        <!-- hidden-initial -->
                        <div class="works-shade"></div>
                        <div class="collegey-heading">
                            <h2 class="bottom-space3">How Collegey<span class="span-block">Works</span></h2>
                        </div>
                        <div class="how-collegey-steps-wrap">
                            <div class="border-box draw-border hidden-initial"></div>
                            <div class="how-collegey-steps-content">
                                <div class="collegey-steps-box">
                                    <img data-src="/assets/images/home/signup-free.svg" alt="Sign Up image">
                                    <p class="collegey-steps-text"><span>1</span> Sign Up. It's Free</p>
                                </div>
                                <div class="collegey-steps-box hide-bg4">
                                    <img data-src="/assets/images/home/create-portfolio.svg" alt="Create Portfolio image">
                                    <p class="collegey-steps-text"><span>2</span> Build your portfolio</p>
                                </div>
                                <div class="collegey-steps-box shift-to-bottom hide-bg3">
                                    <img data-src="/assets/images/home/do-impact-project.svg" alt="Impact Project image">
                                    <p class="collegey-steps-text"><span>3</span> Do an impact project</p>
                                </div>
                            </div>
                            <div class="how-collegey-steps-content content-space">
                                <div class="collegey-steps-box hide-bg">
                                    <img data-src="/assets/images/home/enjoy-impact-career.svg" alt="Enjoy impact career image">
                                    <p class="collegey-steps-text"><span>5</span> Work towards a positive <br>impact Career</p>
                                </div>
                                <div class="collegey-steps-box hide-bg2">
                                    <img data-src="/assets/images/home/connect-with-peer.svg" alt="Connect with peer image">
                                    <p class="collegey-steps-text"><span>4</span> Collaborate with peer <br>& influencers </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section toolkit-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="toolkit-box hidden-initial">
                        <!--hidden-initial -->
                        <div class="toolkit-heading-wrap">
                            <h2 class="toolkit-heading">Toolkit</h2>
                        </div>
                        <div class="toolkit-content-box">
                            <div class="toolkit-box-inner">
                                <img data-src="/assets/images/home/profile-builder.svg" class="profile-builder-image" alt="Profile Builder image">
                                <p class="toolkit-text">Profile Builder</p>
                            </div>
                            <div class="toolkit-box-inner">
                                <img data-src="/assets/images/home/impact-project.svg" class="impact-project-image" alt="Impact Project image">
                                <p class="toolkit-text">Impact Project</p>
                            </div>
                            <div class="toolkit-box-inner">
                                <img data-src="/assets/images/home/global-connection.svg" class="global-connection-image" alt="Global Connection image">
                                <p class="toolkit-text">Global Connection</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section large-width ready-to-build-wrap">
        <div class="container">
            <div class="ready-to-build-inner hidden-initial">
                <!-- hidden-initial -->
                <div class="ready-to-build-content">
                    <div class="ready-to-build-box">
                        <p class="ready-to-build">Ready to build & tell your story</p>
                        <button type="button" class="lets-start" (click)="onRegister()">Let's Start</button>
                    </div>
                    <div class="girl-image-wrapper">
                        <div class="girl-image-wrap"></div>
                    </div>
                </div>
                <p class="bottom-text3">Join The #BeADoerTribe</p>
            </div>
        </div>
    </section>
    <section class="section footer-space">
        <app-footer></app-footer>
    </section>
</div>

<div class="social-icons-box">
    <ul class="social-icons-list">
        <li>
            <a href="https://www.facebook.com/BeCollegey/" target="_blank"><i class="fa fa-facebook"
          aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/becollegey" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/becollegey/" target="_blank"><i class="fa fa-instagram"
          aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/collegey/" target="_blank"><i class="fa fa-linkedin"
          aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
<div class="scrollbar-bottom">
    <button type="button" class="header-scroll-indicator"><span></span></button>
</div>