<section class="section-padding">
    <div class="main">
        <div class="iframe">
            <iframe title="Sequel event" width="100%" height="80vh" src="https://embed.sequel.io/networkingHub/43b2efaf-7258-4b47-99c1-94559b41462d" frameborder="0" allow="camera *; microphone *; autoplay; display-capture *" allowfullscreen style=" height: 80vh; border-radius: 12px; border: 1px solid #dbdfec; box-shadow: 3px 3px 10px 0 rgb(20 20 43 / 4%); width:100% " > </iframe>
        <!-- <iframe title="Sequel event" 
 [src]="transform()" frameborder="0" allow="camera *; microphone *; autoplay; display-capture *" allowfullscreen style=" height: 80vh; border-radius: 12px; border: 1px solid #dbdfec; box-shadow: 3px 3px 10px 0 rgb(20 20 43 / 4%); width:100% " > </iframe>
     -->
</div>   
    </div>
</section>