<section class="team_member section-padding">
  <div class="row" style="border-bottom: 2px solid white;box-shadow:0 1px 11px black;
  height: 80px;margin-top: 10px;">
    <div class="col-10">
      
      <img src="assets\images\collegey-main-logo.png">
    </div>
    <div class="col-1">
        <button class="embed-button">
          <i>&#60; &#62;</i>
          Embed
        </button>
    </div>
    <div class="col-1">
    <button class = "share-button">
      <i class="fa fa-share-alt"></i>
      Share 
    </button>
    </div>
  </div>
<div class="row" >
  <div class="col-8">
    <div class="text-overlay">
      <h3>Main Session</h3>
    </div>
<img src="assets/images/js-logo.png" >
  </div>
  <div class="col-4">
    <h4>Register for this event</h4>
    <p >Fill in the form below to register for this event.You will receive<br> 
       confirmation by email.</p>
    
      <div class="upload-1">
        <!-- <button type="button" class="btn-warning">
          <i class="fa fa-upload"></i>File Upload
          <input type="file">
        </button> -->
      </div>
      <div class="upload-1">
        <img src="assets/images/profile-icon.jpg" width= 100 height = 100 alt="">
        <div class="round">
          <input type="file">
          <i class="fa fa-camera" style="color: #fff;"></i>
        </div>
      </div>
<form>
  <label for="fullname">Full Name</label><br>
  <input type="text" placeholder="Enter your name"><br>
  <label for="email">Email Address</label><br>
  <input type="text" placeholder="Enter your email address"><br>
  <button class="btn btn-primary" >Register</button>

  <div class="already">
  <p>Already have a Join Code? Click
  <span>HERE</span></p>
  <!-- <p style="color: blueviolet;font-weight: bold; cursor: pointer;">HERE</p> -->
  </div>

</form>
  </div>
</div>
</section>

<!-- <div>
    <card *ngfor =" let event of events" [event] = "event"></card>
</div> -->
