.team_member {
    padding-top: 120px;
}

.nav-tabs .nav-link.active{ 
    background-color:  rgb(253, 249, 249);
    border: none;
    outline: none;
    color: #3f89fc;
    border-bottom: 2px solid rgb(87, 27, 234);
    font-weight: bold;
    font-family: Nunito;
    width: fit-content;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link {
    display: block;
    margin-left: 80px;
    margin-right: -80px;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: black;   
}
