<!-- Home Page First Section -->
<app-corousal-one [homepageContent]="homepageFistData"></app-corousal-one>

<!-- Home Page Second Section -->
<app-corousal-two [homepageContent]="homepageSecondData"></app-corousal-two>

<!-- Home Page Third Section -->
<app-corousal-seven [homepageContent]="homepageThirdData"></app-corousal-seven>

<!-- Home Page Fourth Section -->
<app-corousal-six [homepageContent]="homepageForthData"></app-corousal-six>

<!-- Home Page Fifth Section -->
<app-corousal-ten [homepageContent]="homepageFifthData"></app-corousal-ten>

<!-- Home Page Sixth Section -->
<app-corousal-eight [homepageContent]="homepageSixData"></app-corousal-eight>


<!-- <div *ngIf="mobileView" class="corousal-eight">
  <app-corousal-eight [mobile]="mobileView"></app-corousal-eight>
</div>
<div class="corousal-three" [style.height.px]="screenHeight">
  <app-corousal-three [homepageContent]="homepageCorousalThree"></app-corousal-three>
</div> -->
<!-- <div class="corousal-four" [style.height.px]="screenHeight">
  <app-corousal-four></app-corousal-four>
</div> -->
<!-- <div class="corousal-five" [style.height.px]="screenHeight">
  <app-corousal-five [homepageContent]="homepageCorousalFive"></app-corousal-five>
</div> -->
<app-corousal-nine [homepageContent]="homepageSevenData" [homepageContent1]="homepageEighthData" [homepageImpactImg]="homeFooterImpactImg"></app-corousal-nine>

<app-footer></app-footer>

<div class="clg-share-icons">
  <a href="https://www.facebook.com/BeCollegey/" target="_blank"><img src="assets/images/facebook-circle-fill.svg" /></a>
  <a href="https://twitter.com/becollegey" target="_blank"><img src="assets/images/twitter-fill.svg" /></a>
  <a href="https://www.instagram.com/becollegey/" target="_blank"><img src="assets/images/instagram-fill.svg" /></a>
  <a href="https://www.linkedin.com/company/collegey/" target="_blank"><img src="assets/images/linkedin-box-fill.svg" /></a>
  <a href="https://www.youtube.com/channel/UC_vCErV7S2vK7TpjCG0Ig0Q" target="_blank"><img src="assets/images/youtube-fill.svg" /></a>
  <a href="https://api.whatsapp.com/send?phone=919311411300" target="_blank"><img src="assets/images/1st_fold/whatsapp-fill.svg" /></a>
  <!-- <a href="javascript:;" class="share" target="_blank"><img src="assets/images/1st_fold/share-fill.svg" /></a> -->
</div>