<section class="terms-and-conditions-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 terms-header">
                <h1>{{response.title}}</h1>
                <p>Last Updated: {{response.updatedAt | date : 'MMM dd, yyyy'}}</p>
                
            </div>
            <div class="col-md-12 col-sm-12 terms-content-box">
                <div class="container">
                    <div class="terms-content" [innerHTML]="response.description">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <section class="terms-and-conditions-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 terms-header">
                <h1>Terms of Service</h1>
                <p>Last Updated: June 01, 2021</p>
            </div>
            <div class="col-md-12 col-sm-12 terms-content-box">
                <div class="container">
                    <div class="terms-content">
                        <h3>COLLEGEY WEBSITE TERMS AND CONDITIONS</h3>
                        <p class="bold-case">These terms and conditions ("Terms") apply to your use and access of web
                            sites
                            owned and operated by <br/>
                            Collegey anywhere including <a
                                href="http://www.collegey.com">www.collegey.com</a>. By using the Collegey website and/or creating an<br/>
                                 account on Collegey site, you accept these Terms. Collegey may revise these Terms at any time by<br/>
                                  updating them as they are displayed on the college website. We are not required to contact you prior to<br/>
                                  changing these Terms. You should visit this page periodically to review these Terms, because they are <br/>
                                  binding on you. The terms "You" and "User" as used herein refer to all individuals or entities accessing this <br/>
                                  Collegey website
                            <br><br><span class="block-case">THESE TERMS INCLUDE A CLASS ACTION WAIVER AND A WAIVER OF JURY TRIALS, AND REQUIRE<br/>
                                 BINDING ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES.</span>
                        </p>
                        <img src="assets/images/terms.png" style="margin-top: -439px;
                        margin-left: 853px;">
                        <h3>USE OF COLLEGEY WEBISTE</h3>
                        <p>COLLEGEY authorizes you to view and access COLLEGEY website solely for your personal, non-commercial use to aid in your project search, project enrollment, college search and application process ("Permitted Use"). You may not copy or adapt any of the Web Site Content (defined below) or the underlying code with respect to any portion of any COLLEGEY website or the content appearing therein. You may not use Collegey website for any purpose that violates any applicable Indian laws, U.S. federal, state or any foreign law. You may not use Collegey to violate the privacy (e.g., by improperly accessing Personal Information) or infringe the intellectual property rights of Collegey or any third party. You may not use defamatory, threatening, hateful, obscene, or abusive language, images or postings on Collegey website.</p>
                        <h3>PROPRIETARY RIGHTS</h3>
                        <p>As between you and Collegey, Collegey owns the copyright of all content on and of the Collegey website, including documents, videos, text, images, graphics, logos, links, button icons, software and other content (collectively, <b> "Web Site Content" </b>). Trademarks and logos used on the Collegey website are owned by Collegey or are used with permission from the respective owners or in accordance with applicable law. No use of any Collegey trademark or any other trademark listed is permitted without express written consent.

                        </p>
                        <h3>COLLEGEY WEBISTE SECURITY RULES</h3>
                        <p>You may not violate or attempt to violate the security of COLLEGEY website including (a) intercepting or accessing data the user is not authorized to access, (b) attempting to scan the vulnerability of a system or network or to breach security or authentication measures without Collegey’s prior express written authorization, (c) attempting to interfere with service to any user, host or network, including transmitting a virus to COLLEGEY website or similar malicious activity, or (d) forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting. Security violations may result in civil or criminal liability.
                        </p>
                        <h3>USER CONDUCT</h3>
                        <p class="space-reduce">Collegey is for Permitted Uses only. You agree you will not:</p>
                        <p class="space-reduce left-align">(a) Use any device, software or routine to interfere or
                            attempt
                            to interfere with the proper working of Collegey website;</p>
                        <p class="space-reduce left-align">(b) Use or attempt to use any engine, software, tool, agent
                            or
                            other device or mechanism (including, customized browsers, spiders, robots, avatars or
                            intelligent agents) to navigate or search Collegey other than the normal search using
                            Collegey’s search engine and software available from Collegey and other than generally
                            available
                            third party web browsers;</p>
                        <p class="space-reduce left-align">(c) Attempt to decipher, decompile, disassemble or reverse
                            engineer any of the software or algorithm related to Collegey website;</p>
                        <p class="space-reduce left-align">(d) Attempt to compromise the security or privacy of another
                            Collegey user's personal information;</p>
                        <p class="space-reduce left-align">(e) Impose an unreasonable or disproportionately large load
                            on
                            Collegey website’s infrastructure; and</p>
                        <p class="left-align">(f) Aggregate, copy or duplicate any of the Web Site Content or
                            information
                            available from Collegey website.</p>
                        <h3>PRIVACY POLICY</h3>
                        <p>When you register for a Collegey website, you may be asked to provide Collegey with certain
                            information including, without limitation, a valid email address (your <b>"Personal
                                Information"</b>) and phone/cellular number. Collegey will
                            use commercially reasonable efforts to handle your Personal Information in accordance with
                            the
                            Collegey <a class="black-link" href="https://www.cappex.com/page/about/privacyPolicy.jsp"
                                target="_blank"><b>Privacy Policy</b></a> posted on the Collegey website, which is
                            subject
                            to change from time to time. In addition, you agree that Collegey may disclose to third
                            parties,
                            on an anonymous basis, aggregate information based on the information you provide
                            to Collegey and your usage of the Collegey website. Collegey is not responsible for any data
                            collection and practices of nonaffiliated third parties that are linked to from the Collegey
                            website or to whom your Personal Information
                            is provided in accordance with the Collegey Privacy Policy.</p>
                        <h3>AGE REQUIREMENT</h3>
                        <p>Collegey website and the services offered on them are available to individuals age 13 and over. If you are between the ages of 13 and the age of majority where you live, you must review these Terms with your parent or guardian to confirm that you and your parent or guardian understand and agree to it.</p>
                        <h3>PASSWORD</h3>
                        <p>When you register at Collegey website, you must create a password for future access to your Collegey website account. You must maintain the confidentiality of your password as you are responsible for all activity that occurs under your account when authenticated with your password. You agree to notify Collegey immediately of any unauthorized use of your account or password, or any other breach of security. You will be able to permit others to access your account and information, such as a school counselor or advisor, and each person will set their own password the first time they access your account. Your granting of permission to these other users is at your own risk and Collegey is not responsible for any action taken by those other users. If you lose your password, Collegey may email or text your password to the email address or cell number in our records and associated with your account. Collegey is not liable for any misuse as a result thereof.</p>
                        <h3>VIOLATION OF THESE TERMS</h3>
                        <p>Any violation of these Terms as determined by Collegey in its sole discretion may result in the immediate denial of access to the Collegey website. Collegey may take these actions at any time, in our sole discretion, with or without notice, and without any liability to the account holder or user whose access is blocked or terminated.</p>
                        <h3>INTERACTION WITH OTHER USERS</h3>
                        <p>The Collegey website may contain dashboard, chat rooms, public posting forums or other forums permitting direct communications with other Users (each a "Public Access Area"). Any information provided by you in a Public Access Area is public. Collegey is not responsible for any information posted and/or viewed in Public Access Areas. You may not post content to a Public Access Area that violates any applicable law, contains offensive or abusive content, advertises or solicits funds, goods or services or contains viruses or other material that may damage another's computer.

                            Collegey may remove any content from any Public Access Area at any time and without notice. By posting in a Public Access Area any content authored or owned by you, you automatically waive all rights to any intellectual property that may be contained in such posting and, if for any reason that waiver is determined to be invalid, you grant to Collegey and its affiliates a perpetual, royalty-free, irrevocable and unrestricted worldwide right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from and distribute the posted content or incorporate the posted content into any form, medium, or technology now known or later developed, for any purposes.
                            
                        </p>
                        <h3>NO WARRANTIES</h3>
                        <p>Collegey website is a venue for counselors, students and their parents to search for and
                            learn
                            about projects, impact partners, colleges and universities and financial aid alternatives
                            and in
                            some circumstances, apply directly to those
                            colleges and universities and/or enroll in projects through the Application Service. Other
                            than
                            processing applications in connection with the Application Service, Collegey does not
                            control
                            and is not involved in admissions decisions
                            or the admission process between colleges, universities, impact partners, and students.
                            Collegey
                            is not responsible for transactions with advertisers appearing anywhere on the Collegey
                            website
                            or in any of the Collegey content
                            including its blog, magazine, newsletters, and other verticles.
                            <br><br> The Collegey Web Site Content may contain inaccuracies or typographical errors.
                            Collegey makes no representations about the accuracy, reliability or completeness, of the
                            Collegey website or the Web Site Content or the
                            timeliness of any services therein provided. The use of the Collegey website and the Web
                            Site
                            Content is at your own risk. Changes are periodically made to the Collegey website. While we
                            will endeavor to make these changes at a
                            time least likely to interfere with your use of the Collegey website, such changes may be
                            made
                            at any time.
                            <br><br> Certain Web Site Content may contain information about paying for certain programs,
                            college and related tax or legal consequences. You understand that this content is provided
                            for
                            informational purposes only and is not
                            a substitute for professional advice from qualified practitioners. You should always seek
                            professional advice tailored to your individual circumstances.
                            <br><br> Certain portions of the Web Site Content may indicate to you your likelihood of
                            admission to a particular college or university, or a program. Such services are for
                            directional
                            purposes only and should not be relied upon
                            in your search process. Always talk to experts such as college admissions personnel and high
                            school counselors if you are unsure of your chances of admission to a particular college or
                            university or enrolling on any program or
                            project on the Collegey website. You assume all risks regarding your use of this tool and
                            understand that any decision to apply or not to apply for any particular project and program
                            or
                            to any college or university and the resulting
                            consequences are your sole responsibility.
                            <br><br> COLLEGEY DOES NOT WARRANT THAT COLLEGEY WEBSITE OR THE SERVICE WILL OPERATE
                            ERROR-FREE
                            OR THAT ANY PART OF THE COLLEGEY WEBSITE AND ITS SERVERS ARE FREE OF COMPUTER VIRUSES OR
                            OTHER
                            HARMFUL MECHANISMS. IF YOUR USE OF COLLEGEY
                            WEBSITE OR THE SERVICE RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA,
                            COLLEGEY IS NOT RESPONSIBLE FOR THOSE COSTS. THE COLLEGEY WEBSITE, THE WEB SITE CONTENT AND
                            THE
                            SERVICE ARE PROVIDED ON AN "AS IS" BASIS WITHOUT
                            ANY WARRANTIES OF ANY KIND. TO THE FULLEST EXTENT PERMITTED BY LAW, COLLEGEY DISCLAIMS ALL
                            WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE WARRANTY OF MERCHANTABILITY, FITNESS
                            FOR
                            PARTICULAR PURPOSE AND NON-INFRINGEMENT.
                        </p>
                        <h3>LIMITATION ON DAMAGES</h3>
                        <p>IN NO EVENT WILL COLLEGEY, ITS AFFILIATED ENTITIES, ITS SUPPLIERS, OR ANY THIRD PARTIES
                            MENTIONED
                            ANY WHERE ON THE COLLEGEY WEBSITE BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT
                            LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES,
                            LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM
                            THE
                            USE OR INABILITY TO USE ANY PART OF THE COLLEGEY WEBSITE, THE SERVICE OR ANY THE WEB SITE
                            CONTENT, WHETHER BASED IN CONTRACT, TORT,
                            OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT COLLEGEY IS ADVISED OF THE POSSIBILITY OF SUCH
                            DAMAGES. IN NO EVENT WILL COLLEGEY'S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES OR
                            CAUSES OR
                            ACTION EXCEED THE AMOUNTS PAID BY YOU
                            TO COLLEGEY IN THE PAST TWO MONTHS, OR $100, WHICHEVER IS GREATER. THE EXCLUSIONS AND
                            LIMITATIONS OF LIABILITY IN THESE TERMS OF USE WILL APPLY NOTWITHSTANDING ANY FAILURE OF
                            ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. THIS SECTION
                            SHALL SURVIVE ANY EXPIRATION OR TERMINATION OF YOUR RELATIONSHIP WITH COLLEGEY.</p>
                        <h3>LINKS TO OTHER SITES</h3>
                        <p>The COLLEGEY WEBSITE contain links to third party web sites or embed functionality from third
                            party sites labeled as "Powered By", “Sponsored By”, “Supported By” or similar language.
                            These
                            links and integrations are provided solely
                            as a convenience to you and not as an endorsement by Collegey of the contents on such
                            third-party Web sites. Collegey is not responsible for such third party content or the
                            collection of your information on linked third-party sites
                            and does not make any representations regarding the content or accuracy of materials on such
                            third party Web sites. If you decide to access linked third party Web sites through the
                            Collegey
                            website or Collegey social media or any
                            other digital or non-digital property of Collegey, you do so at your own risk.</p>
                        <h3>NO RESALE OR UNAUTHORIZED COMMERCIAL USE</h3>
                        <p>You agree not to resell or assign your rights or obligations under these Terms and any
                            purported
                            assignment is null and void. You also agree not to make any unauthorized commercial use of
                            any
                            part of the Collegey website.</p>
                        <h3>INDEMNITY</h3>
                        <p>You agree to defend, indemnify, and hold harmless Collegey, its team, its members, officers,
                            directors, employees and agents, from and against any claims, actions or demands, including
                            reasonable legal and accounting fees, arising
                            out of the use of any part of the Collegey website by You or any account You created.
                            Collegey
                            must provide notice to you promptly of any such claim, suit, or proceeding, but only to the
                            extent failure to provide prompt notice
                            would prejudice your ability to defend the claim, and will assist you, at your expense, in
                            defending any such claim, suit or proceeding. Collegey reserves the right to take over the
                            exclusive defense of any claim for which we are
                            entitled to indemnification under this section. In such event, you must provide Collegey
                            with
                            any cooperation Collegey reasonably requests.</p>
                        <h3>ARBITRATION AGREEMENT; CLASS WAIVER, WAIVER OF TRIAL BY JURY</h3>
                        <p><i>Please read this Arbitration Agreement carefully. It is part of your contract with
                                Collegey
                                and affects your rights. It contains procedures for MANDATORY BINDING ARBITRATION AND A
                                CLASS ACTION WAIVER.</i><br>
                            <i>Applicability of Arbitration Agreement.</i> All claims and disputes (excluding claims for
                            injunctive or other equitable relief as set forth below) in connection with these Terms or
                            the
                            use of any Collegey product or service
                            that cannot be resolved informally or in small claims court must be resolved by binding
                            arbitration on an individual basis under the terms of this Arbitration Agreement. This
                            Arbitration Agreement applies to you and Collegey, and
                            to any subsidiaries, affiliates, agents, employees, predecessors in interest, successors,
                            and
                            assigns, as well as all authorized or unauthorized users or beneficiaries of services or
                            goods
                            provided under these Terms.<br>
                            <i>Notice Requirement and Informal Dispute Resolution.</i> Before either party may seek
                            arbitration, the party must first send to the other party a written Notice of Dispute
                            ("<b>Notice</b>") describing the nature and basis of
                            the claim or dispute, and the requested relief. A Notice to the Company should be sent to:
                            Collegey.com ATTN: Collegey Legal Department, 1525 S Sunset Drive, Tacoma, WA 98465. After
                            the
                            Notice is received, you and Collegey may
                            attempt to resolve the dispute informally. If you and Collegey do not resolve the dispute
                            within
                            30 days after the Notice is received, either party may begin an arbitration proceeding. The
                            amount of any settlement offer made by
                            any party may not be disclosed to the arbitrator until after the arbitrator has determined
                            the
                            amount of the award, if any, to which either party is entitled.<br>
                            <i>Arbitration Rules.</i> Arbitration must be initiated through the American Arbitration
                            Association ("<b>AAA</b>"), an established alternative dispute resolution provider ("<b>ADR
                                Provider</b>") that offers arbitration as set
                            forth in this section. If AAA is not available to arbitrate, the parties must agree to
                            select an
                            alternative ADR Provider. The rules of the ADR Provider ("<b>Arbitration Rules</b>") will
                            govern
                            all aspects of this arbitration,
                            including the method of initiating and/or demanding arbitration, except where such rules are
                            in
                            conflict with these Terms. The AAA Consumer Arbitration Rules governing the arbitration are
                            available online at <a class="black-link" href="http://www.adr.org/"
                                target="_blank"><b>www.adr.org</b></a> or by calling the AAA at 1-800-778-7879. A
                            single,
                            neutral arbitrator must conduct the arbitration. Any claims or disputes where the total
                            amount
                            of the award sought
                            is less than Five Thousand U.S. Dollars (US $5,000.00) may be resolved through binding
                            non-appearance-based arbitration, at the option of the party seeking relief. For claims or
                            disputes where the total amount of the award sought
                            is Five Thousand U.S. Dollars (US $10,000.00) or more, the right to a hearing will be
                            determined
                            by the Arbitration Rules. Any hearing will be held in a location within 100 miles of your
                            residence, unless you reside outside of
                            the United States, and unless the parties agree otherwise. Any judgment on the award
                            rendered by
                            the arbitrator may be entered in any court of competent jurisdiction. Each party must bear
                            its
                            own costs (including attorney's fees)
                            and disbursements arising out of the arbitration, and must pay an equal share of the fees
                            and
                            costs of the ADR Provider.<br>
                            <i>Additional Rules for Non-appearance Based Arbitration.</i> If non-appearance arbitration
                            is
                            elected, the arbitration must be conducted by telephone, online and/or based solely on
                            written
                            submissions; the party initiating the
                            arbitration must choose the specific manner. The arbitration may not require any personal
                            appearance by the parties or witnesses unless mutually agreed by the parties.
                            <i>Time Limits.</i> If you or Collegey pursue arbitration, the arbitration must be initiated
                            or
                            demanded within the legal statute of limitations (i.e., the legal deadline for filing a
                            claim)
                            and any deadline imposed under the AAA
                            Rules for the pertinent claim.<br>
                            <i>Authority of Arbitrator.</i> If arbitration is initiated, the arbitrator will have all
                            authority to decide the rights and liabilities, if any, of you and Collegey in accordance
                            with
                            applicable law, the Arbitration Rules and
                            these Terms, and the dispute will not be consolidated with any other matters or joined with
                            any
                            other cases or parties. The award of the arbitrator is final and binding upon you and the
                            Company.<br>
                            <i>Waiver of Jury Trial.</i> THE PARTIES HEREBY WAIVE THEIR CONSTITUTIONAL AND STATUTORY
                            RIGHTS
                            TO GO TO COURT AND HAVE A TRIAL IN FRONT OF A JUDGE OR A JURY, instead electing that all
                            claims
                            and disputes must be resolved by arbitration
                            under this Arbitration Agreement. Arbitration procedures are typically more limited, more
                            efficient and less costly than rules applicable in court and are subject to very limited
                            review
                            by a court. If any litigation should arise
                            between you and the Company in any state or federal court in a suit to vacate or enforce an
                            arbitration award or otherwise, YOU AND THE COMPANY WAIVE ALL RIGHTS TO A JURY TRIAL,
                            instead
                            electing that the dispute be resolved by
                            a judge.<br>
                            <i>Waiver of Class or Consolidated Actions.</i> ALL CLAIMS AND DISPUTES WITHIN THE SCOPE OF
                            THIS
                            ARBITRATION AGREEMENT MUST BE ARBITRATED OR LITIGATED ON AN INDIVIDUAL BASIS AND NOT ON A
                            CLASS
                            BASIS, AND CLAIMS OF MORE THAN ONE
                            CUSTOMER OR USER CANNOT BE ARBITRATED OR LITIGATED JOINTLY OR CONSOLIDATED WITH THOSE OF ANY
                            OTHER CUSTOMER OR USER.<br>
                            <i>Confidentiality.</i> All aspects of the arbitration proceeding, including the award of
                            the
                            arbitrator and compliance therewith, must be kept confidential unless otherwise required by
                            law.
                            This Paragraph does not prevent a party
                            from submitting to a court of law any information necessary to enforce this Agreement, to
                            enforce an arbitration award, or to seek injunctive or equitable relief.<br>
                            <i>Severability.</i> If any part or parts of this Arbitration Agreement are found under the
                            law
                            to be invalid or unenforceable by a court of competent jurisdiction, then such specific part
                            or
                            parts will be of no force and effect
                            and will be severed and the remainder of the Agreement will continue in full force and
                            effect.<br>
                            <i>Right to Waive.</i> The party against whom the claim is asserted may waive any or all of
                            the
                            rights and limitations set forth in this Agreement. Such waiver does not waive or effect any
                            other portion of this Agreement.<br>
                            <i>Survival of Agreement.</i> This Arbitration Agreement will survive the termination of
                            your
                            relationship with Company.<br>
                            <i>Emergency Equitable Relief.</i> Notwithstanding the foregoing, either party may seek
                            emergency equitable relief before a state or federal court in order to maintain the status
                            quo
                            pending arbitration. A request for interim measures
                            will not be deemed a waiver of any other rights or obligations under this Arbitration
                            Agreement.<br>
                            <i>Claims Not Subject To Arbitration.</i> Notwithstanding the foregoing, claims of
                            defamation,
                            violation of the Computer Fraud and Abuse Act, and infringement or misappropriation of the
                            other
                            party's patent, copyright, trademark,
                            or trade secret are not subject to this arbitration agreement.<br>
                            <i>Courts.</i> In any circumstances where the foregoing Agreement permits the parties to
                            litigate in court, the parties hereby agree to submit to the personal jurisdiction of the
                            courts
                            located within Pierce County, WA, for such
                            purpose.
                            <br>
                        </p>
                        <h3>GENERAL</h3>
                        <p class="space-reduce2">Collegey makes no claims that any part of the Collegey website, the
                            Service
                            or the Web Site Content may be lawfully viewed or accessed outside of the United States. If
                            you
                            access the Collegey website from outside of the United States,
                            you do so at your own risk and are responsible for compliance with the laws of your
                            jurisdiction. These Terms are governed by the laws of the State of Washington, without
                            respect
                            to its conflict of laws principles. If any provision
                            of these Terms is found to be invalid by any court of competent jurisdiction, such invalid
                            provision does not affect the validity of the remaining provisions of these Terms, which
                            will
                            remain in full force and effect. No waiver
                            of any compliance with these Terms will be deemed a further or continuing waiver of such
                            term or
                            any other term. Except as expressly provided in additional terms of use for areas of the
                            Collegey website, a particular "Legal Notice,"
                            or Software License or material on particular Web pages, including a License Agreement
                            required
                            for use of the Application Service, these Terms constitute the entire agreement between you
                            and
                            Collegey with respect to the use the
                            Collegey website. These Terms may amended at any time and from time to time, by a revised
                            posting on this page. We do not undertake any obligation to otherwise notify you of such
                            amendment. All provisions of these Terms that by
                            their nature must survive the termination of your use of the Collegey website will survive,
                            including the Limitation on Damages, Indemnity, Arbitration Agreement, Class Waiver and Jury
                            Trial Waiver.</p>

                        <p class="space-reduce2">LAST UPDATED: June 01, 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->