<section class="section-padding">
    <div class="main">
        <div class="card" *ngFor="let displayCard of upcomingEvents; " (click)="goToCards(displayCard,'cards')">

            <div class="image">
                <img src="{{displayCard.picture}}" alt="" >
            </div>
            <div class="title">
                <h6>{{displayCard.name}}</h6>
             </div>
             <div class="timendate">
                <p>{{displayCard.startDate | date:'MMM d, y, h:mm a'}}</p>
                <p>{{displayCard.startDate | date:'z'}}</p>

            </div>
        </div>
    </div>
</section>