.resources-wrap {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 130px 0 0;
}

.pagination-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.resources-content h1{
    text-align: left;
    font: normal normal bold 28px/46px Nunito;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
}
.blog-date-span span{
    color: #000000;
}
.blog-date-span{
}
.blog-date-span img, .blog-like-span img{
    width: 15px;
    vertical-align: middle;
}
.blog-like-span{
    margin: 0;
}
.banner-blog{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #1D7FAB17;
    margin: 0;
}
.webinar-content-box{
    padding: 20px 50px 0 20px;
    height: 470px;
}
.webinar-content-box .article-tags{
    background: #3F89FC 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: left;
    font: normal normal 600 10px/14px Nunito;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    padding: 5px;
}
.webinar-content-box .post-title.webinar-title{
    font-size: 46px;
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    font: normal normal normal 46px/52px Georgia;
}
.webinar-content-box .post-date-like{
    margin: 20px 0 10px 0;
}
.webinar-content-box .post-description.webinar-desc.top-gap{
    text-align: left;
    letter-spacing: 0px;
    color: #141414;
    font-size: 16px;
}
.webinar-content-box .read-more{
    color: #3F89FC;
    padding-top: 40px;
    display: block;
    font-size: 16px;
}
.webinar-content-box .read-more span{
    color: #000;
    vertical-align: middle;
    font-size: 16px;
}
.banner-blog .slider-btn{
    width: 134px;
    height: 50px;
    font: normal normal bold 12px/16px Nunito;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    position: absolute;
    bottom: 0;
    border: 0;
    border-radius: 0;
}
.banner-blog .previous-btn{
    right: 0;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    color: #000000;
}
.banner-blog .next-btn{
    background: #3F89FC 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    left: 0;
}
.no-pad{
    padding: 0;
}
.full-width{
    width: 100%;
    height: 80%;
}
@media screen and (max-width:767px) {
    .resources-heading h1 {
        font-size: 44px;
    }
    .banner-blog {
        height: auto;
        margin: 0 15px;
    }
    .webinar-content-box{
        padding: 15px 0;
    }
    .webinar-content-box .post-title.webinar-title{
        font-size: 25px !important;
        line-height: 30px;
    }
    .webinar-content-box .post-date-like{
        display: grid;
    }
    .blog-date-span {
        margin-bottom: 3px;
    }
}
@media screen and (min-width:768px) {
    .hide-md{
        display: none;
    }
}
@media screen and (max-width:479px) {
    .resources-heading h1 {
        font-size: 34px;
        margin-bottom: 10px;
    }
    .resources-wrap {
        padding: 120px 0 0;
    }
}

@media screen and (max-width:374px) {
    .resources-heading h1 {
        font-size: 26px;
    }
    .resources-wrap {
        padding: 115px 0 0;
    }
}
@media screen and (max-width:575px) {
    .hide-xs{
        display: none;
    }
    .btnOnMobile{
        display: block;
        width: 100%;
        position: relative;
    }
    .banner-blog .btnOnMobile .previous-btn{
        left: 0;
        right: auto;
    }
    .banner-blog .btnOnMobile .next-btn{
        right: 0;
        left: auto;
    }
}
@media screen and (min-width:576px) {
    .hide-md{
        display: none;
    }
}