<section class="team_member section-padding">
    <div class="main">
        <div class="card">
            <div class="image">
                <img src="\assets\images\cloud.png" alt="">
            </div>
            <div class="title">
                <h6>Java</h6>
            </div>
            <div class="timendate">
                <p>May 11,<br> 8:30 AM EDT</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="\assets\images\cloud.png" alt="">
            </div>
            <div class="title">
                <h6>Java</h6>
            </div>
            <div class="timendate">
                <p>May 11, <br>8:30 AM EDT</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="\assets\images\cloud.png" alt="">
            </div>
            <div class="title">
                <h6>Java</h6>
            </div>
            <div class="timendate">
                <p>May 11, <br>8:30 AM EDT</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="\assets\images\cloud.png" alt="">
            </div>
            <div class="title">
                <h6>Java</h6>
            </div>
            <div class="timendate">
                <p>May 11,<br> 8:30 AM EDT</p>
            </div>
        </div>
    </div>
</section>