<div
  class="container d-flex justify-content-center h-100 overflow-hidden pt-5 slide-4"
>
  <div class="row">
    <div class="col-sm">
      <div class="d-flex w-100 p-1">
        <div class="img-boundry">
          <div class="img-box">
            <img
              src="/assets/images/3rd_fold/image_1/wireless-connectivity.svg"
            />
          </div>
        </div>
        <div class="robot p-3">
          <img
            class="robot-img w-100"
            src="/assets/images/3rd_fold/image_1/image_1.png"
          />

          <div class="content">
            The Roles Robots Play In Our Future <br />
            As Technology
          </div>
          <div class="sub-content">
            Wow! It’s 2020 already, and look at how far we’ve come in such a
            short period of time. In a world like ours, so fast-paced and filled
            with all kinds of technology in the work, I must say that we’ve
            improved quite a bit.
          </div>

          <div class="mt-2 mb-3">
            <span class="blog">The Collegey Blog</span>
            <span class="blog ml-2">Robots</span>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex w-100 p-1">
        <div class="img-boundry">
          <div class="img-box">
            <img src="/assets/images/3rd_fold/image_1/heart.svg" />
          </div>
        </div>
        <div class="robot p-3">
          <img
            class="robot-img w-100"
            src="/assets/images/3rd_fold/image_2/image_2.png"
          />

          <div class="content">
            The Roles Robots Play In Our Future <br />
            As Technology
          </div>
          <div class="sub-content">
            Wow! It’s 2020 already, and look at how far we’ve come in such a
            short period of time. In a world like ours, so fast-paced and filled
            with all kinds of technology in the work, I must say that we’ve
            improved quite a bit.
          </div>

          <div class="mt-2 mb-3">
            <span class="blog">The Collegey Blog</span>
            <span class="blog ml-2">Robots</span>
          </div>
        </div>
      </div> -->
    </div>
    <div class="col-sm">
      <div class="d-flex w-100 p-1">
        <div class="announce-text">
          Announce yourself with<br />
          the power of blended<br />
          learning, curiosity, and<br />
          real life projects
        </div>
      </div>
      <div class="d-flex w-100 p-1">
        <button class="read-btn" [routerLink]="['student-dashboard/$/vlog']">
          VISIT OUR BLOGS, VLOGS AND MORE
        </button>
      </div>
      <div class="d-flex w-100 p-1">
        <div class="robot p-3">
          <img
            class="robot-img w-100"
            src="/assets/images/3rd_fold/image_3/image_3.png"
          />

          <div class="content">Project-based learning</div>
          <div class="sub-content">
            Wow! It’s 2020 already, and look at how far we’ve come in such a
            short period of time. In a world like ours, so fast-paced and filled
            with all kinds of technology in the work, I must say that we’ve
            improved quite a bit.
          </div>

          <div class="mt-2 mb-3">
            <span class="blog">The Collegey Blog</span>
            <span class="blog ml-2">Robots</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
