<section class="section-mr">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="blog-left-side">
                    <div class="d-flex" style="margin-bottom: 20px;">
                        <img src="../../../assets/images/left-arrow.png" alt="">
                        <p class="head-text">collegey accelerator:intensive program</p>
                    </div>
                    <!-- add class "closed-step" to make design -->
                    <div class="info-box ">
                        <div class="info-header">
                            <p>1. Your Basic Information</p>
                            <button>Edit <img src="../../../assets/images/check.png" alt=""></button>
                        </div>
                        <form class="login-form lead-form">
                            <p class="sub-text">Great! Now, please tell is about your self, this question is required. *
                            </p>
                            <div class="row" style="margin: 0;">
                                <div class="group col-sm-6" style="padding-right:13px">
                                    <div>
                                        <input type="text" id="name" formControlName="name" required="required"
                                            value="Ashsih Kumar" />
                                        <label class="login-label">Full Name</label>
                                    </div>
                                </div>
                                <div class="group col-sm-6" style="padding-left:13px">
                                    <div>
                                        <input type="email" id="email" formControlName="email" required="required"
                                            value="ashsih.kumar@qtoss.com" />
                                        <label class="login-label" style="left: 25px;">Email ID</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 0;">
                                <div class="group col-sm-6" style="padding-right:13px">
                                    <div>
                                        <input type="text" id="number" formControlName="nuumber" required="required"
                                            value="+91 - 9717311486" />
                                        <label class="login-label">Mobile Number</label>
                                    </div>
                                </div>
                                <div class="group col-sm-6" style="padding-left:13px">
                                    <div style="background: #FFFFFF 0% 0% no-repeat padding-box;
                                    border: 1px solid #979797;padding-top: 0;">
                                        <label class="select-label">You are a</label>
                                        <select>
                                            <option value="1">Full Time Employee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin: 0;">
                                <div class="group col-sm-6" style="padding-right:13px">
                                    <div style="background: #FFFFFF 0% 0% no-repeat padding-box;
                                    border: 1px solid #979797;padding-top: 0;">
                                        <label class="select-label">Country</label>
                                        <select>
                                            <option value="1">India</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="group col-sm-6" style="padding-left:13px">
                                    <div style="background: #FFFFFF 0% 0% no-repeat padding-box;
                                    border: 1px solid #979797;padding-top: 0;">
                                        <label class="select-label">City</label>
                                        <select>
                                            <option value="1">Noida</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="action-div">
                                <button>CONTINUE</button>
                            </div>
                        </form>
                    </div>
                    <div class="info-box">
                        <div class="info-header">
                            <p>3. Payment</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-right-side" style="margin-top: 36px; margin-right: 53px;
                margin-left: -45px;">
                    <p class="p1">
                        Project Fee
                    </p>
                    <p class="p2">$185</p>
                    <p class="p3">Including taxes</p>
                    <p class="p4">4 - 6 hours/week for 4 weeks</p>
                    <p class="p5">Deliverables</p>
                    <p class="p6">On completion of each project, you receive</p>
                    <ul>
                        <li>
                            Signed Project Certificate
                        </li>
                        <li>
                            Letter of Recommendation
                        </li>
                        <li>
                            Referral
                         </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>