<div class="container">
    <div class="row">
        <div class="mentor-block-main">
          <div class="mentor-block">
            <div class="mentor-block-logo">
              <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Zendesk_logo.svg">
            </div>
            <div class="mentor-block-content">
              <div class="mentor-header">
                <!-- <h2>zendesk</h2> -->
                <a href="#"> Featured perk</a>
              </div>
             <div class="mentor-full">
              <h2>zendesk</h2>
              <p>-6-months free Zendesk Support & CRM</p>
              <a href="">Redeemed perk</a>
              <a href=""><span class="fa fa-star"></span> Favorite</a>
            </div>
          </div>
            </div>
          </div>
       
        </div>
        <div class="row instruction-wrap">
            <div class="col-lg-9">
                <div class="instruction-top">
                <h2>Instructions</h2>
                <p>Startups can apply here <a href="">http://taghunger.com/</a></p>
                <h2>Contact</h2>
                <p>With Question please contact <a href="">startups@gmail.com</a></p>
            </div>
            <div class="instruction-bottom">
                <h2>Perk description</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="instruction-bottom">
                <h2>Perk description</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="instruction-bottom">
                <h2>Perk description</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
          <div class="col-lg-3">
                <div class="right-side-bar">
                <h2>Topic</h2>
                <ul>
                    <li><a href="">lead generation </a></li>
                    <li><a href="">partnership </a></li>
                    <li><a href="">sales metrics </a></li>
                    <li><a href="">sales strategy </a></li>
                    <li><a href="">tools & software </a></li>
                </ul>
            </div>
            <div class="right-side-bar">
                <h2>Topic</h2>
                <ul>
                    <li><a href="">lead generation </a></li>
                    <li><a href="">partnership </a></li>
                    <li><a href="">sales metrics </a></li>
                    <li><a href="">sales strategy </a></li>
                    <li><a href="">tools & software </a></li>
                </ul>
            </div>
            <div class="right-side-bar">
                <h2>Topic</h2>
                <ul>
                    <li><a href="">lead generation </a></li>
                    <li><a href="">partnership </a></li>
                    <li><a href="">sales metrics </a></li>
                    <li><a href="">sales strategy </a></li>
                    <li><a href="">tools & software </a></li>
                </ul>
            </div>
            
        </div>
        </div>
    </div>