<app-dash-header></app-dash-header>
<section class="resources-wrap">
    <div class="container padding-cus">
        <div class="banner-blog">
            <div class="row">
                <!-- image box for mobile hidden above sm -->
                <div class="col-sm hide-md no-pad">
                    <img [src]="commonService.imagePathMaker(currentBlog?.image)" class="full-width">
                </div>
                <div class="col-sm">
                    <div class="webinar-content-box">
                        <p class="tags-box">
                            <span class="article-tags" *ngFor="let tag of currentBlog?.tags"
                                (click)="openBlogTagList(tag)">{{tag}}</span>
                        </p>
                        <a class="post-title webinar-title" href="javascript:void(0)">{{currentBlog?.title}}</a>
                        <div class="post-date-like">
                            <span class="blog-date-span">
                                <img src="assets/images/new-star.svg"> Posted by
                                <span>{{currentBlog?.author}}</span> on {{currentBlog?.createdAt | date}}
                            </span>
                            <span class="hide-xs">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            <!-- <span class="blog-like-span">
                                <img src="assets/images/like.svg"> <span> 1,556 Likes</span>
                            </span> -->
                        </div>
                        <p class="post-description webinar-desc top-gap">{{currentBlog?.short_description}}</p>
                        <a style="
                            cursor: default;" class="read-more" (click)="onNavigate(currentBlog?.slug)">Read More
                            <span> ></span></a>
                        <button class="btn slider-btn previous-btn hide-xs" *ngIf="prevPage" (click)="loadPrev($event)">
                            Previous
                        </button>
                    </div>
                </div>
                <!-- image box for above sm -->
                <div class="col-sm hide-xs" style="padding: 0;">
                    <!-- <img [src]="commonService.imagePathMaker(currentBlog?.image, '/assets/images/default-blog.svg')"
                        class="full-width"> -->
                        <img class="zoom-image" [src]="commonService.imagePathS3(currentBlog?.image, '/assets/images/default-blog.svg')" alt="Article Image" class="full-width">
                    <button class="btn slider-btn next-btn" *ngIf="nextPage" (click)="loadNext($event)">
                        Next
                    </button>
                </div>
                <!-- next prevoius button box for mobile hidden above sm -->
                <div class="btnOnMobile hide-md">
                    <button class="btn slider-btn previous-btn" *ngIf="prevPage" (click)="loadPrev($event)">
                        Previous
                    </button>
                    <button class="btn slider-btn next-btn" *ngIf="nextPage" (click)="loadNext($event)">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="resources-content" style="background-color: #ecf0fe;" *ngIf="tagarticles">
        <div class="row resources-tabs underline-from-left">
            <div class="col-md-12 col-sm-12">
                <div class="tabs-wrap">
                    <div class="container">
                        <p style="text-align: center !important; font: normal normal normal 25px/52px Georgia;">
                            <strong> <u> Selected Tag List </u></strong>
                        </p>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let article of tagarticles;">
                                <div class="webinar-box article-box">

                                    <div class="webinar-image-box" (click)="onNavigate(article.slug)">
                                        <!-- <img class="zoom-image"
                                            [src]="commonService.imagePathMaker(article.image, '/assets/images/default-blog.svg')"
                                            alt="Article Image"> -->
                                            <img class="zoom-image" [src]="commonService.imagePathS3(article.image, '/assets/images/default-blog.svg')" alt="Article Image">
                                    </div>
                                    <div class="webinar-content-box1">
                                        <a class="post-title webinar-title" (click)="onNavigate(article.slug)"
                                            href="javascript:void(0)">{{article.title}}</a>
                                        <p class="post-description webinar-desc top-gap">
                                            {{article.short_description}}</p>
                                        <p class="tags-box"><span class="article-tags" *ngFor="let tag of article.tags"
                                                (click)="openBlogTagList(tag)">{{tag}}</span></p>
                                        <p class="posted-date top-gap"><span *ngIf="article.author"
                                                class="blog-date-span">By {{article.author}}
                                            </span><span>{{article.createdAt | date}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  <app-blog-banner>
                        </app-blog-banner> -->
            </div>
        </div>
    </div>

    <div class="resources-content">
        <div class="tabs-wrap">
            <div class="container padding-cus">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let article of articles;">
                        <div class="webinar-box article-box">

                            <div class="webinar-image-box" (click)="onNavigate(article.slug)">
                                <!-- <img class="zoom-image"
                                    [src]="commonService.imagePathMaker(article.image, '/assets/images/default-blog.svg')"
                                    alt="Article Image"> -->
                                    <img class="zoom-image" [src]="commonService.imagePathS3(article.image, '/assets/images/default-blog.svg')" alt="Article Image">
                            </div>
                            <div class="webinar-content-box1">
                                <a class="post-title webinar-title" (click)="onNavigate(article.slug)"
                                    href="javascript:void(0)">{{article.title}}</a>
                                <p class="post-description webinar-desc top-gap">
                                    {{article.short_description}}</p>
                                <p class="tags-box"><span class="article-tags" *ngFor="let tag of article.tags"
                                        (click)="openBlogTagList(tag)">{{tag}}</span></p>
                                <p class="posted-date top-gap"><span *ngIf="article.author" class="blog-date-span">By
                                        {{article.author}}
                                    </span><span>{{article.createdAt | date}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  <app-blog-banner>
                        </app-blog-banner> -->
    </div>

</section>