<app-dash-header></app-dash-header>
<div class="learn-box1">
  <h6>Announcement</h6>
  <div class="subdiv" *ngFor="let announcement of announcementsArray?.data; let i=index">
    <h5>{{announcement.subject}}</h5>
    <div [innerHTML]='announcement.details' class="announcementDetails"></div>
  </div>
</div>
<section class="section-mr mt-0">
  <div class="social-feed-container">

    <!-- left part -->
    <div class="left-sidebar">

      <!-- collegey feed tab -->
      <div class="feed-bar" (click)="collegeyFeedTab()" [ngClass]="collegeyFeedTemplate ? 'textPrimary':''">
        <div class="d-flex align-item-center">
          <img src="./../../../assets/images/logo_image/new-collegey-home.png" alt="" class="group-img">
          <div>
            <p class="p1">Collegey Feed</p>
            <p class="p2">Latest update on Collegey</p>
          </div>
        </div>
        <img src="./../../../assets/images/arrow-down-sign-to-navigate.svg" alt="" class="arrow-img">
      </div>
      <!-- collegey feed tab end-->
      <!-- groups  tab -->
      <div class="feed-bar" (click)="groupsTab()" [ngClass]="groupFeedTemplate ? 'textPrimary':''">
        <div class="d-flex align-item-center ">
          <img src="./../../../assets/images/logo_image/new-collegey-home.png" alt="" class="group-img">
          <div>
            <p class="p1">Groups</p>
            <a>3 new update</a>
          </div>
        </div>
        <img src="./../../../assets/images/arrow-down-sign-to-navigate.svg" alt="" class="arrow-img">
      </div>
      <!-- groups  tab end-->
      <hr class="my-1">
      <!-- create group and displaying all groups  -->
      <div class="group-leftbar-box" *ngIf="groupFeedTemplate">
        <div class="group-search-header">
          <p style="font-size: 15px;">Groups</p>
          <a (click)="opentravelModal(gamodal)" class="cursor-pointer">+ CREATE GROUP</a>
        </div>
        <div class="group-search-box">
          <!-- <input type="text" placeholder="Search group" class="search" [(ngModel)]="query" (keyup)="searchGroupName($event)"> -->
          <input type="text" placeholder="Search group" class="search" (keyup)="searchGroupName($event)">
          <img src="assets/images/search-2-line.svg" class="search-icon">
        </div>

        <!-- <div class="group-list-box" *ngFor="let group of allGroupResponse | LockFilter: query"> -->

        <div class="group-list-box" *ngFor="let group of allGroupResponse">
          <div class="group-item-box">

            <img *ngIf="group?.groupIcon" [src]="commonService.imagePathS3(group?.groupIcon)" alt="" class="group-img">
            <img *ngIf="!group?.groupIcon" src="./../../../assets/images/collegey-logo.png" alt="" class="group-img">

            <div (click)="onClickGroup1(group._id,group);groupTemplate = false" class="cursor-pointer">
              <ng-container *ngIf="selectedGroup">
                <p class="p1" [ngClass]="selectedGroup == group._id ? 'text-primary':''">{{group.groupName}}</p>
              </ng-container>
              <ng-container *ngIf="!selectedGroup">
                <p class="p1">{{group.groupName}}</p>
              </ng-container>
              <p class="p2">{{group.userList?.length}} members . {{group.groupType === 'public'
                ? 'Public' : 'Private'}}
                {{group?.timeago}}</p>
            </div>
          </div>
        </div>
        <div class="clg-pagination clg-custom-pagination" *ngIf="totalRecord > 0">
          <app-pagination #pagination1 [initialPage]="currentPage" [count]="totalRecord"
            (changePage)="onListChangePage($event)"></app-pagination>
        </div>

        <!-- <pagination class="custom_pagination" *ngIf="showPaginationCondition" [totalItems]="totalGroupItemsLength"
          [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination> -->

      </div>
      <!-- create group and displaying all groups end  -->
    </div>
    <!-- left part end -->


    <!-- middle section -->
    <!-- displaying yours groups -->
    <div class="middle-section" *ngIf="groupFeedTemplate && groupTemplate">
      <div class="card">
        <ul class="list-group">
          <li class="list-group-item bg-secondary text-white">Your Groups</li>
          <ng-container *ngFor="let group of groupResponse">
            <li class="list-group-item">
              <span (click)="onClickGroup(group?._id,group);groupTemplate = false"
                class="cursor-pointer">{{group?.groupName}}</span>
              <div class="group_action">
                <span
                  style="color: #838383; font: normal normal normal 13px/18px Nunito;margin-right: 6px;">{{group?.groupType}}</span>
                <i *ngIf="group?.groupOwner == userId" class="fa fa-edit cursor-pointer"
                  (click)="openEditGroup(gamodal,group?._id)"></i>
                <i *ngIf="group?.groupOwner == userId" class="fa fa-trash cursor-pointer ml-2"
                  (click)="deleteConformationGroup(openGroupDeleteDialog,group._id)"></i>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <!-- displaying yours groups end -->
    <!-- middle section end -->

    <!-- middle section  -->
    <div class="middle-section" *ngIf="collegeyFeedTemplate">
      <!-- creating post  -->
      <div class="add-post">
        <div class="user-comment-img">
          <img *ngIf="dashboard?.profile?.avatar" [src]="commonService.imagePathS3(dashboard?.profile?.avatar)"
            alt="{{dashboard?.profile?.name}}">
        </div>
        <form class="postformdiv">
          <input type="text" (click)="openCollegeFeedPostModal(collegeFeedPostModal)"
            placeholder="Post a questions, project update, news, ask for team members, etc...">
        </form>
      </div>
      <!-- creating post end -->
      <!-- displaying post  -->
      <div *ngIf="noFeedPostData" class="noFeedData">No Feeds Found</div>
      <div class="social-feed-box" *ngFor="let feed of response; let i=index">
        <div class="social-feed-list" *ngIf="feed.group?.groupType != 'private'">
          <div class="row top-box">
            <div class="join-author">
              <span>
                <img *ngIf="feed?.user[0]?.avatar" [src]="commonService.imagePathS3(feed?.user[0]?.avatar)"
                  alt="{{feed?.user[0]?.name}}">
              </span>
              <div>
                <h6 class="text-capitalize">
                  {{feed?.user[0]?.name}} {{feed?.user[0]?.last_name}}
                  <ng-container *ngIf="feed?.group"> >
                    {{feed?.group?.groupName}}
                  </ng-container>

                </h6>
                <p class="half-opac" style="color:#AFAFAF !important">{{feed?.timeago}}</p>
              </div>
            </div>
            <div class="deletedit_btndiv" *ngIf="feed?.user[0]._id == userId">
              <button type="button" class="m-1 edit-details-button1"
                (click)="openCollegeFeedEdit(collegeFeedPostModal,i)"><img
                  src="assets/images/on-boarding/pencil-icon.svg"></button>
              <!-- <button type="button" *ngIf="feed?.user[0]._id == userId" class="m-1 edit-details-button top-shift33" (click)="deletePost(feed._id)"><img src="assets/images/delete.svg"></button> -->
              <button type="button" class="m-1 edit-details-button1"
                (click)="deleteConformationFeed(openFeedDeleteDialog,feed._id)"><img
                  src="assets/images/delete.svg"></button>
            </div>
            <a class="btn follow-btn" *ngIf="feed?.user == userInfo._id">Follow</a>
          </div>


          <div class="row feed-item">
            <div class="mb-4" *ngIf="feed.postType == 'text'">
              <h6 class="mb-1 feedText">{{feed?.postText}}</h6>
              <p class="postDesc" *ngIf="feed?.postData" [ngClass]="{'readLess': feed.readLess}"><span
                  *ngIf="feed?.posturl"><a href="{{feed?.posturl}}" target="_blank">{{feed?.posturl}}</a></span></p>
            </div>

            <div class="mb-4" *ngIf="feed.postType == 'image'">
              <!-- <div *ngIf="feed?.posturl" class="post_comments">{{feed?.postComment}}</div> -->
              <h6 class="mb-1 feedText">{{feed?.postText}}</h6>
              <img *ngIf="!feed?.posturl" [src]="commonService.imagePathS3(feed.postImageUrl)" class="pb-3"
                style="object-fit: cover;">
              <img *ngIf="feed?.posturl && !feed?.postImageUrl?.includes('http')"
                [src]="commonService.imagePathS3(feed?.postImageUrl)" class="pb-3" style="object-fit: cover;">
              <img *ngIf="feed?.posturl && feed?.postImageUrl?.includes('http')" [src]="feed?.postImageUrl" class="pb-3"
                style="object-fit: cover;">
              <a *ngIf="feed?.posturl" [href]="feed?.posturl" class="postDesc" target="_blank"
                [ngClass]="{'readLess': feed.readLess}">
                {{feed?.postData}}</a>
              <p class="postDesc" *ngIf="feed?.postData && !feed?.posturl" [ngClass]="{'readLess': feed.readLess}">
                {{feed?.postData}}</p>
            </div>

            <a *ngIf="feed?.postData" (click)="readMoreClass(feed)" class="readDesc my-3">{{feed.readLess ? 'READ LESS'
              : 'READ MORE'}}</a>

            <!-- <a *ngIf="feed?.posturl" class="readDesc my-3" href="{{feed?.posturl}}" target="_blank">READ MORE</a> -->

            <div [ngClass]="{'limitTextHeight': isReadMore}" *ngIf="feed.postType == 'video'">
              <iframe width="100%" height="350" src="https://www.youtube.com/embed/HndV87XpkWg">
              </iframe>
              <!-- {{getEmbedYoutubeUrl(feed.postVideo)}} -->
              <p style="top: 892px;
                            left: 393px;
                            width: 487px;
                            height: 24px;
                            text-align: left;
                            font: normal normal 600 18px/24px Nunito;
                            letter-spacing: 0px;
                            color: #4E4E4E;
                            opacity: 1;">{{feed?.postData}}</p>
              <p style="margin-top: 35px;">{{feed?.postText}}</p>
            </div>

            <div class="socialHelpers">
              <div class="socialStatusOne">
                <div *ngIf="feed.lkedbyCurrentUser == true">
                  <div>
                    <i class="fa fa-heart text-danger cursor-pointer" (click)="dislikeClick(feed,feed.likeId)"></i>
                    <span> {{feed?.likes?.length}}
                      Likes</span>
                  </div>
                </div>
                <div *ngIf="!feed.lkedbyCurrentUser">
                  <i class="fa fa-heart-o cursor-pointer" (click)="likeClick(feed)"></i>
                  <span> {{feed?.likes?.length}}
                    Likes</span>
                </div>
                <div>
                  <i class="fa fa-comment"></i>
                  <span>{{feed?.comment?.length}} Comments</span>
                </div>
              </div>
              <div class="socialStatusTwo">
                <div (click)="openShareModel(sharePostModal,feed)">
                  <i class="fa fa-share"></i>
                  <span> {{feed?.share?.length}} Share</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="commentForm" class="comment-boxs">
            <form [formGroup]="commentForm" class="commentForm">
              <img class="user-comment-ing" [src]="commonService.imagePathS3(dashboard?.profile?.avatar)"
                alt="{{dashboard?.profile?.name}}">
              <input type="text" name="" placeholder="Write your comment…" [mention]="userList"
                [mentionConfig]="{triggerChar:'@',maxItems:5,labelKey:'name'}" formControlName="text">
              <input id="commentBtn" type="submit" value="Send" (click)="postComment(feed._id)" />
            </form>
          </div>
          <div class="top-box commented-item" *ngFor="let comment of feed?.comment; let commentIndex = index">
            <div class="join-author">
              <span>
                <img [src]="commonService.imagePathS3(comment?.user?.avatar)" alt="{{comment?.user?.name}}">
              </span>
              <div>
                <!-- <a class="btn follow-btn" (click)="getFollowUserData(comment.user._id);">{{ isAlreadyFollow ? 'Following': 'Follow' }}
                                </a> -->
                <h6 class="text-capitalize">{{comment?.user?.name}} {{comment?.user?.last_name}}</h6>
                <p class="comment-text text-capitalize">{{comment.text}}</p>
                <!-- <p class="half-opac" style="color:#AFAFAF !important">{{comment?.timeagoComment}}</p> -->
                <!-- <p class="half-opac" style="color:#AFAFAF !important">{{comment?.timeagoComment}} <span style="float: none;" *ngIf="(comment?.user?._id == userId) || (feed?.user[0]?._id == userId)"><button class="clear-btn" (click)="editComment(editFeedCommentModal, commentIndex, i)">Edit</button> <button class="delete-btn" (click)="deleteFeedComment(openFeedCommentDeleteDialog, commentIndex, feed?._id)">Delete</button></span></p> -->
                <p class="half-opac" style="color:#AFAFAF !important">{{comment?.timeagoComment}}
                  <span style="float: none;"
                    *ngIf="(comment?.user?._id == userId) && (feed?.user[0]?._id == userId || feed?.user[0]?._id != userId )"><button
                      class="clear-btn" (click)="editComment(editFeedCommentModal, commentIndex, i)">Edit</button>
                    <button class="delete-btn"
                      (click)="deleteFeedComment(openFeedCommentDeleteDialog, commentIndex, feed?._id)">Delete</button></span>
                  <span style="float: none;" *ngIf="(comment?.user?._id != userId) && (feed?.user[0]?._id == userId)">
                    <button class="delete-btn"
                      (click)="deleteFeedComment(openFeedCommentDeleteDialog, commentIndex, feed?._id)">Delete</button></span>
                </p>

              </div>
            </div>
          </div>
          <!-- <div class="top-box commented-item">
                        <div class="join-author">
                            <span>
                                <img src="/assets/images/profile-picture.png">
                            </span>
                            <div>
                                <h6>Atul choudhary</h6>
                                <p class="comment-text">Good article to read.</p>
                                <p class="half-opac">4 hr ago</p>
                            </div>
                        </div>
                    </div> -->
        </div>
        <!-- <div class="social-feed-list">
                    <div class="row top-box">
                        <div class="join-author">
                            <span>
                                <img src="/assets/images/profile-picture.png">
                            </span>
                            <div>
                                <h6>Atul choudhary</h6>
                                <p class="half-opac">4 hr ago</p>
                            </div>
                        </div>
                        <a href="" class="btn follow-btn">Follow</a>
                    </div>
                    <div class="row feed-item">
                        <img src="/assets/images/feed1.png">
                        <h5>
                            YouTube hits 20 mn paid subscribers, 2 mn join YouTube TV
                        </h5>
                        <p>
                            YouTube ended 2019 at a $3 billion annual run rate in YouTube subscriptions $3 billion
                            annual
                            and other non- advertis…
                        </p>
                        <a href="">Read More <span> ></span></a>
                        <div class="social-status">
                            <div class="">
                                <span class="glyphicon glyphicon-heart-empty"></span> <span class="social-points">237
                                    Likes</span>
                                <span class="glyphicon glyphicon-comment"></span> <span class="social-points">37
                                    Comments</span>
                            </div>
                            <div class="text-right">
                                <span class="glyphicon glyphicon-share-alt"></span> <span class="social-points">20
                                    Share</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment-boxs">
                        <img class="user-comment-ing" src="/assets/images/profile-picture.png">
                        <input type="" name="" placeholder="Write your comment…">
                    </div>
                    <div class="top-box commented-item">
                        <div class="join-author">
                            <span>
                                <img src="/assets/images/profile-picture.png">
                            </span>
                            <div>
                                <h6>Atul choudhary</h6>
                                <p class="comment-text">Good article to read.</p>
                                <p class="half-opac">4 hr ago</p>
                            </div>
                        </div>
                    </div>
                    <div class="top-box commented-item">
                        <div class="join-author">
                            <span>
                                <img src="/assets/images/profile-picture.png">
                            </span>
                            <div>
                                <h6>Atul choudhary</h6>
                                <p class="comment-text">Good article to read.</p>
                                <p class="half-opac">4 hr ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-feed-list">
                    <div class="row top-box">
                        <div class="join-author">
                            <span>
                                <img src="/assets/images/profile-picture.png">
                            </span>
                            <div>
                                <h6>Atul choudhary</h6>
                                <p class="half-opac">4 hr ago</p>
                            </div>
                        </div>
                        <a href="" class="btn follow-btn">Follow</a>
                    </div>
                    <div class="row feed-item">
                        <img src="/assets/images/feed1.png">
                        <h5>
                            YouTube hits 20 mn paid subscribers, 2 mn join YouTube TV
                        </h5>
                        <p>
                            YouTube ended 2019 at a $3 billion annual run rate in YouTube subscriptions $3 billion
                            annual
                            and other non- advertis…
                        </p>
                        <a href="">Read More <span> ></span></a>
                        <div class="social-status">
                            <div class="">
                                <span class="glyphicon glyphicon-heart-empty"></span> <span class="social-points">237
                                    Likes</span>
                                <span class="glyphicon glyphicon-comment"></span> <span class="social-points">37
                                    Comments</span>
                            </div>
                            <div class="text-right">
                                <span class="glyphicon glyphicon-share-alt"></span> <span class="social-points">20
                                    Share</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment-boxs">
                        <img class="user-comment-ing" src="/assets/images/profile-picture.png">
                        <input type="" name="" placeholder="Write your comment…">
                    </div>
                    <div class="top-box commented-item">
                        <div class="join-author">
                            <span>
                                <img src="/assets/images/profile-picture.png">
                            </span>
                            <div>
                                <h6>Atul choudhary</h6>
                                <p class="comment-text">Good article to read.</p>
                                <p class="half-opac">4 hr ago</p>
                            </div>
                        </div>
                    </div>
                    <div class="top-box commented-item">
                        <div class="join-author">
                            <span>
                                <img src="/assets/images/profile-picture.png">
                            </span>
                            <div>
                                <h6>Atul choudhary</h6>
                                <p class="comment-text">Good article to read.</p>
                                <p class="half-opac">4 hr ago</p>
                            </div>
                        </div>
                    </div>
                </div> -->
      </div>
      <!-- displaying post  end-->

      <div *ngIf="loadMoreStatus" class="load-more-feed">
        <a href="javascript:void(0);" (click)="loadMoreFeeds()">Load More</a>
      </div>
    </div>
    <!-- middle section  end-->
    <!-- middle section of group  -->

    <ng-container *ngIf="!groupTemplate && selectedGroup && !collegeyFeedTemplate">
      <div class="middle-section">
        <app-groups-feed [selectedGroupValue]="selectedGroup" [groupInfo]="groupInfo"
          [groupLoadMoreStatus]="groupLoadMoreStatus" [noFeedData]="noFeedData" [response]="responseGroup"
          [groupId]="selectedGroup">
        </app-groups-feed>
      </div>
    </ng-container>

    <!-- middle section of group end -->

    <!-- right section -->
    <div class="right-sidebar">
      <div class="meet-box" *ngIf="!meetBox">
        <form [formGroup]="form1">
          <p>{{lernBoxCollection?.questionTitle}}</p>
          <div> 
            <p class="clg-quetion-content">{{meetBoxCollectionQuestion[questionIndex]?.question_content}}</p>
              <h6>{{meetBoxCollectionQuestion[questionIndex]?.question}}</h6>
              <span class="clg-ansLabel">Answer Now:</span>
              <textarea placeholder="Type your answer here..." formControlName="answer"></textarea>
              <span
                *ngIf="submittedFutureSelf && (hasErrorFutureSelf('answer','required') || hasErrorFutureSelf('answer','pattern'))"
                class="d-block" style="color: red; margin-bottom: 20px;">Answer is required.</span>
            <div style="display: flex;align-items: center;justify-content: space-between;">
              <button type="button" (click)="save1(meetBoxCollectionQuestion[questionIndex]?._id,questionIndex)"
                [disabled]="!form1.valid" class="btn">Next</button> 
            </div>
          </div>
        </form>
      </div>

      <div class="learn-box" *ngIf="collegyFeedsQuestions?.length > 0 && meetBox">
        
        <p>#{{lernBoxCollection?.academyTitle}}</p>

        <div *ngFor="let listQuetion of collegyFeedsQuestions; let i=index" class="clg-quetion-ans-box">
          <div *ngFor="let item of listQuetion.answerArray">
            <p>{{item?.responseLable}} <span>{{item?.Answer}}</span><p>
            <!-- <h5 style="font-size: 15px;">{{item?.Answer}}</h5> -->
          </div>
          <div>
            <button type="button" (click)="reset()" *ngIf="meetBox" class="btn">Restart</button>
          </div>
        </div>

        <!-- <a href="{{lernBoxCollection?.academyLink}}" target="_blank"><button type="button"
            class="btn">{{lernBoxCollection?.academyBtnText}}</button></a> -->

      </div>
      <div class="recommended-profile-box">
        <form [formGroup]="form2">
          <p>Ask for a recommendation to add to your Collegey Profile.</p>

          <span
            *ngIf="submitted && (hasErrorRecommendedForm('name','required') || hasErrorRecommendedForm('name','pattern'))"
            class="d-block" style="color: red;">Name
            is required.</span>
          <input type="text" name="" id="" placeholder="Enter Name *" formControlName="name">

          <span *ngIf="submitted && hasErrorRecommendedForm('email_id','required')" class="d-block"
            style="color: red;">Email is required.</span>
          <span *ngIf="submitted && hasErrorRecommendedForm('email_id','pattern')" class="d-block"
            style="color: red;">Incorrect Email Format.</span>
          <input type="email" name="" id="" placeholder="Enter Email ID *" formControlName="email_id">

          <button type="button" class="btn" (click)="save2()">SEND</button>
        </form>
      </div>
      <div class="invite-friends-box">
        <form [formGroup]="inviteFormGroup">
          <h5>Invite Friends</h5>
          <p>You can invite your friends to Collegey</p>

          <span
            *ngIf="inviteSubmitted && (hasErrorInviteForm('inviteName','required') || hasErrorInviteForm('inviteName','pattern'))"
            class="d-block" style="color: red;">Name is required.</span>
          <input type="text" name="" id="" placeholder="Enter Name" formControlName="inviteName">

          <span *ngIf="inviteSubmitted && hasErrorInviteForm('email','required')" class="d-block"
            style="color: red;">Email is required.</span>
          <span *ngIf="inviteSubmitted && hasErrorInviteForm('email','pattern')" class="d-block"
            style="color: red;">Incorrect Email Format.</span>
          <input type="text" name="" id="" placeholder="Enter Email ID" formControlName="email">

          <!-- <span *ngIf="inviteSubmitted && hasErrorInviteForm('mobile_number','required')" class="d-block"
            style="color: red;">Phone is required.</span> -->
          <span *ngIf="inviteSubmitted && hasErrorInviteForm('mobile_number','pattern')" class="d-block"
            style="color: red;">Incorrect Phone Number Format.</span>
          <input type="text" name="" id="" placeholder="Enter Phone Number" formControlName="mobile_number">

          <button type="button" class="btn" (click)="save()">SUBMIT</button>
        </form>
      </div>
    </div>
    <!-- right section end-->

  </div>
</section>

<!-- <button (click)="opentravelModal(qamodal)" class="button"> Events Pops</button>
<br />
<button (click)="opentravelModal(gamodal)" class="button"> Create group</button> -->


<ng-template #qamodal>
  <div style="background: white;border-radius: 16px;">
    <div class="bottom-border" style="padding: 20px 22px;">
      <h5 class="heading">Schedule Event</h5>
    </div>
    <form>
      <div style="padding: 20px 20px;">
        <div class="form-box">
          <form>

            <div class="form-group">
              <label style="color: #023147;
                            font-weight: 600;">Event Name</label>
              <input class="form-control" type="text" name="" id="" placeholder="Type event name">
            </div>
            <br>
            <div class="form-group">
              <label style="color: #023147;
                        font-weight: 600;">Select Timezone</label>
              <select class="form-control">
                <option value="1">Select Timezone</option>
                <option value="2">a</option>
                <option value="1">b</option>
                <option value="1">c</option>
              </select>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <input class="form-control" type="date" name="" id="" placeholder="start date">
              </div>
              <div class="col-lg-6">
                <input class="form-control" type="time" name="" id="" placeholder="Start Time">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6 form-group">
                <input class="form-control" type="date" name="" id="" placeholder="End date">
              </div>
              <div class="col-lg-6">
                <input class="form-control" type="time" name="" id="" placeholder="End Time">
              </div>
            </div>
            <div class="form-group">
              <label style="color: #023147;
                        font-weight: 600;">Repeat</label>
              <select class="form-control">
                <option value="1">Repeat</option>
                <option value="2">a</option>
                <option value="1">b</option>
                <option value="1">c</option>
              </select>
            </div>
            <div class="form-group">
              <label style="color: #023147;
                            font-weight: 600;">Add Guest</label>
              <input class="form-control" type="text" name="" id="" placeholder="Add Guest">
            </div>
          </form>
        </div>
      </div>
      <div class="modal-form-footer1">
        <div class="row top-box" style="margin-left: 75%;">
          <div class="footer-texteditor">
            <div class="row feed-item">
              <button style="border: 1px; color: #141414;" (click)="modalRef.hide()">CANCEL</button>&nbsp;&nbsp;
              &nbsp;&nbsp;
              <button type="button" id="btn" class="btn">ADD</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #gamodal>
  <div class="modal-form-wrap1">
    <div class="modal-formheader1">
      <i class="fa fa-times custClose_model" (click)="modalRef.hide()" aria-hidden="true"></i>
      <h5 class="heading mb-0" *ngIf="addEditGroupAction">Create Group</h5>
      <h5 class="heading mb-0" *ngIf="!addEditGroupAction">Update Group</h5>
    </div>
    <form [formGroup]="groupForm">
      <div style="padding: 20px 20px 0 20px;">
        <div class="form-box">
          <!-- <form > -->
          <div class="form-group">
            <label class="cus-label">Upload Image</label><br>
            <input type="file" class="form-control" (change)="onGroupImageSelect($event)" type="file">
            <img *ngIf="groupImage" [src]="groupImage" class="img-fluid mt-2" style="width: 100px; height: 100px;" />
          </div>

          <div class="form-group">
            <label class="cus-label">Group name</label>
            <input class="form-control" formControlName="groupName" type="text" name="" id=""
              placeholder="Type group name">
            <span
              *ngIf="submittedGroup && (hasErrorGroup('groupName','required') || hasErrorGroup('groupName','pattern'))"
              class="d-block" style="color: red;">Group name is required.</span>
          </div>
          <div class="form-group">
            <label class="cus-label">Group Description</label>
            <textarea style="height: 100px;" class="form-control" formControlName="description" type="text" name=""
              id="" placeholder="Group Description" (change)="wordCounter($event);"></textarea>
            <span *ngIf="showWordLimitError" class="d-block" style="color: red;">Max word limit is 250</span>
            <span
              *ngIf="submittedGroup && (hasErrorGroup('description','required') || hasErrorGroup('description','pattern'))"
              class="d-block" style="color: red;">Group Description is required.</span>
          </div>

          <div class="form-group">
            <label class="cus-label">Rules</label>
            <textarea style="height: 100px;" class="form-control" formControlName="rules" type="text" name="" id=""
              placeholder="Group Rules" (change)="wordCounterRules($event);"></textarea>
            <span *ngIf="showWordLimitRulesError" class="d-block" style="color: red;">Max word limit is 250</span>
            <!-- <span *ngIf="submittedGroup && (hasErrorGroup('rules','required') || hasErrorGroup('rules','pattern'))"
              class="d-block" style="color: red;">Rules is required.</span> -->
          </div>
          <!-- <div class="form-group fields">
              <label style="color: #023147;
                            font-weight: 600;">Add Member</label>
                            <ng-multiselect-dropdown
                              placeholder="Add Member"
                              [settings]="dropdownSettings"
                              [data]="dropdownList"
                              (onSelect)="onItemSelect($event)"
                              [(ngModel)]="selectedItems"
                              (onSelectAll)="onSelectAll($event)"
                              formControlName="userList"
                            >
                            </ng-multiselect-dropdown> -->
          <!-- <input class="form-control field-control"  formControlName="description" type="text" name="" id="" placeholder="Add member"> -->
          <!-- </div> -->
          <div class="form-group">
            <label class="selects-label">Public Group
              <input formControlName="groupType" value="public" type="radio" id="flexRadioDefault1">
              <span class="checkmark"></span>
            </label>
            <label class="selects-label">Private Group
              <input formControlName="groupType" value="private" type="radio" id="flexRadioDefault2">
              <span class="checkmark"></span>
            </label>
            <!-- <div class="form-check">
              <input class="form-check-input" formControlName="groupType" value="public" type="radio"
                id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Public Group
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" formControlName="groupType" value="private" type="radio"
                id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Private Group
              </label>
            </div> -->
            <span *ngIf="submittedGroup && hasErrorGroup('groupType','required')" class="d-block"
              style="color: red;">Please select group type.</span>
          </div>

          <!-- </form> -->
        </div>
      </div>
      <div class="modal-formfooter1">
        <div class="d-inline-block">
          <button (click)="modalRef.hide()" class="btn btn-light">Cancel</button>
          <button *ngIf="addEditGroupAction" (click)="groupCreate()" id="btn" class="btn btn-primary">Create My
            Group</button>
          <button *ngIf="!addEditGroupAction" (click)="groupCreate()" id="btn" class="btn btn-primary">UPDATE</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #collegeFeedPostModal>
  <div class="modal-form-wrap1">
    <div class="modal-formheader1">
      <i class="fa fa-times custClose_model" (click)="modalRefCollegeFeed.hide()" aria-hidden="true"></i>
      <h5 *ngIf="!postIsEdit" class="heading mb-0">Create Post</h5>
      <h5 *ngIf="postIsEdit" class="heading mb-0">Edit Post</h5>
    </div>
    <form>
      <div style="padding: 20px 20px 0 20px;">
        <div class="form-box">
          <form [formGroup]="postForm" method="post" novalidate>

            <div class="form-group">
              <label class="cus-label">Post Your Questions , Project Update Or News</label>
              <textarea class="form-control" type="text" name="" id="" placeholder="Type Your Update"
                formControlName="postText" style="min-height: 50px;"
                (change)="wordCounterPostTitle($event);"></textarea>
              <span *ngIf="showWordLimitTitleError" class="d-block" style="color: red;">Max word limit is 250</span>
              <span
                *ngIf="submittedPost && ( hasErrorEvent('postText','required') || hasErrorEvent('postText','pattern'))"
                class="d-block" style="color: red;">is required.</span>
            </div>

            <div class="form-group">
              <label class="cus-label">Post Image (Please upload file around image size 2000 x 2000)</label>
              <input class="form-control" (change)="onFileSelect($event)" type="file" name="" id=""
                placeholder="Group Description">
            </div>
            <div *ngIf="PostEditImage != null">
              <div class="d-inline-block position-relative" *ngIf="!removeImageFile">
                <button class="delete-img" (click)="removeImage()"><i class="fa fa-times-circle"></i></button>
                <img *ngIf="PostEditImage" alt="Feed Post Image" style="object-fit: cover;" class="pb-3 img-fluid"
                  [src]="PostEditImage">
              </div>
            </div>

            <!-- <img *ngIf="PostEditImage" [src]="PostEditImage" class="pb-3 img-fluid" style="object-fit: cover;"> -->

            <div class="form-group">
              <label class="cus-label">Add a Link</label>
              <textarea class="form-control field-control1" type="text" name="" id="" placeholder="Add link"
                formControlName="postData" style="min-height: 110px;"></textarea>

              <!-- <span *ngIf="submittedPost && hasErrorEvent('postData','required')" class="d-block" style="color: red;">is required.</span> -->
            </div>

          </form>
        </div>
      </div>
      <div class="modal-formfooter1">
        <div class="d-inline-block">
          <button (click)="modalRefCollegeFeed.hide()" class="btn btn-light">Cancel</button>
          <button *ngIf="!postIsEdit" (click)="createUserPostData()" id="btn" class="btn btn-primary">Post</button>
          <button *ngIf="postIsEdit" (click)="createUserPostData()" id="btn" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #sharePostModal>
  <div class="modal-form-wrap1">
    <div class="modal-formheader1">
      <h5 class="heading mb-0">Share Post</h5>
    </div>
    <form [formGroup]="shareForm">
      <div style="padding: 20px 20px 0 20px;">
        <div class="form-box">
          <div class="form-group">
            <label class="cus-label">Write Something</label>
            <textarea class="form-control field-control1" type="text" name="" id="" placeholder="Write Something"
              formControlName="descriptionFeed"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-formfooter1">
        <div class="d-inline-block">
          <button (click)="modalRefShareCollegeFeed.hide()" class="btn btn-light">Cancel</button>
          <button (click)="shareClick(currentData)" id="btn" class="btn btn-primary">Share</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #openGroupDeleteDialog>
  <div class="modal-form-wrap1 position-relative conformationModel" style="background: white;">
    <i class="fa fa-times custClose_model" (click)="modalRef.hide()" aria-hidden="true"></i>
    <div class="bottom-border pt-2 pb-3">
      <h5 class="heading">Are you sure delete this group ?</h5>
    </div>
    <div class="modal-form-footer1">
      <div class="row top-box">
        <div class="footer-texteditor">
          <div class="row feed-item">
            <button type="button" style="border: 1px;
                            color: #141414;font-weight: 600; margin-right: 10px;"
              (click)="modalRef.hide()">No</button>&nbsp;&nbsp;
            <button (click)="deleteFeedsGroup()" type="submit" id="btn" class="btn" style="color: white;">YES</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #openFeedDeleteDialog>
  <div class="modal-form-wrap1 position-relative conformationModel" style="background: white;">
    <i class="fa fa-times custClose_model" (click)="modalRef.hide()" aria-hidden="true"></i>
    <div class="bottom-border pt-2 pb-3">
      <h5 class="heading">Are you sure delete this Post ?</h5>
    </div>
    <div class="modal-form-footer1">
      <div class="row top-box">
        <div class="footer-texteditor">
          <div class="row feed-item">
            <button type="button" style="border: 1px;
                            color: #141414;font-weight: 600; margin-right: 10px;"
              (click)="modalRef.hide()">No</button>&nbsp;&nbsp;
            <button (click)="deletePost()" type="submit" id="btn" class="btn" style="color: white;">YES</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<!-- Edit Comment  -->
<ng-template #editFeedCommentModal>
  <div class="modal-form-wrap1">
    <div class="modal-formheader1">
      <h5 class="heading mb-0">Update Comment</h5>
    </div>
    <form [formGroup]="editFeedCommentForm" (keyup.enter)="editFeedCommentData()">
      <div style="padding: 20px 20px 0 20px;">
        <div class="form-box">
          <div class="form-group">
            <label class="cus-label">Write Comment</label>
            <input class="form-control field-control1" type="text" name="" id="" placeholder="Write Comment"
              formControlName="text">
            <span
              *ngIf="submitUpdateComment && (hasErrorUpdateComment('text','required') || hasErrorUpdateComment('text','pattern'))"
              class="d-block" style="color: red; margin-bottom: 20px;">Comment is required.</span>

          </div>
        </div>
      </div>
      <div class="modal-formfooter1">
        <div class="d-inline-block">
          <button (click)="modalRefEditComment.hide()" class="btn btn-light">Cancel</button>
          <button (click)="editFeedCommentData()" id="btn" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- Delete Feed Comment -->

<ng-template #openFeedCommentDeleteDialog>
  <div class="modal-form-wrap1 position-relative conformationModel" style="background: white;">
    <i class="fa fa-times custClose_model" (click)="modalFeedCommentDelete.hide()" aria-hidden="true"></i>
    <div class="modal-form-header11 bottom-border pt-2 pb-3">
      <h5 class="heading">Are you sure delete this comment ?</h5>
    </div>
    <div class="modal-form-footer1">
      <div class="row top-box">
        <div class="footer-texteditor">
          <div class="row feed-item">
            <button type="button" style="border: 1px;
                            color: #141414;font-weight: 600; margin-right: 10px;"
              (click)="modalFeedCommentDelete.hide()">No</button>&nbsp;&nbsp;
            <button (click)="deleteFeedCommentData()" type="submit" id="btn" class="btn"
              style="color: white;">YES</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>