<section class="student-profile-wrapper">
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-sm-4 student-profile no-sm-pad">
                <div style="display: flex;align-items: center;">
                    <div style="position: relative;">
                        <img src="assets/images/profile-picture.png" class="user-img" alt="">
                        <div class="file-input">
                            <input type="file" name="file-input" id="file-input" class="file-input__input" />
                            <label class="file-input__label" for="file-input">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0"
                                    y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512"
                                    xml:space="preserve" class="">
                                    <g>
                                        <path xmlns="http://www.w3.org/2000/svg"
                                            d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0"
                                            fill="#ff971a" data-original="#2196f3" class="" />
                                        <path xmlns="http://www.w3.org/2000/svg"
                                            d="m368 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"
                                            fill="#fafafa" data-original="#fafafa" />
                                    </g>
                                </svg>
                            </label>
                        </div>
                    </div>
                    <div class="">
                        <p>Welcome</p>
                        <h5>Ashish</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 portfolio-progress-wrapper">
                <div class="portfolio-wrapper">
                    <div class="portfolio-user">
                        <p>PORTFOLIO STRENGTH:</p>
                        <h5>Beginner</h5>
                    </div>
                    <div class="portfolio-progress">
                        <ul>
                            <li class="is-active">
                                <hr>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512"
                                        x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512"
                                        xml:space="preserve">
                                        <g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="m9.707 19.121c-.187.188-.442.293-.707.293s-.52-.105-.707-.293l-5.646-5.647c-.586-.586-.586-1.536 0-2.121l.707-.707c.586-.586 1.535-.586 2.121 0l3.525 3.525 9.525-9.525c.586-.586 1.536-.586 2.121 0l.707.707c.586.586.586 1.536 0 2.121z"
                                                    fill="#ffffff" data-original="#000000" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>

                            </li>
                            <li class="is-active">
                                <hr>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512"
                                        x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512"
                                        xml:space="preserve">
                                        <g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="m9.707 19.121c-.187.188-.442.293-.707.293s-.52-.105-.707-.293l-5.646-5.647c-.586-.586-.586-1.536 0-2.121l.707-.707c.586-.586 1.535-.586 2.121 0l3.525 3.525 9.525-9.525c.586-.586 1.536-.586 2.121 0l.707.707c.586.586.586 1.536 0 2.121z"
                                                    fill="#ffffff" data-original="#000000" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </li>
                            <li class="">
                                <hr>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512"
                                        x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512"
                                        xml:space="preserve">
                                        <g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="m9.707 19.121c-.187.188-.442.293-.707.293s-.52-.105-.707-.293l-5.646-5.647c-.586-.586-.586-1.536 0-2.121l.707-.707c.586-.586 1.535-.586 2.121 0l3.525 3.525 9.525-9.525c.586-.586 1.536-.586 2.121 0l.707.707c.586.586.586 1.536 0 2.121z"
                                                    fill="#ffffff" data-original="#000000" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </li>
                            <li>
                                <hr>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512"
                                        x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512"
                                        xml:space="preserve" class="">
                                        <g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                    <path
                                                        d="m15.399 17c-.083 0-.166-.021-.242-.062l-3.157-1.746-3.157 1.745c-.169.094-.374.083-.53-.029-.156-.11-.236-.3-.205-.489l.608-3.731-2.573-2.638c-.131-.134-.176-.33-.117-.508.06-.178.214-.307.399-.335l3.537-.541 1.585-3.379c.166-.351.74-.351.906 0l1.585 3.379 3.537.541c.186.028.34.158.399.335.059.178.014.374-.117.508l-2.573 2.638.608 3.731c.031.189-.049.379-.205.489-.085.061-.186.092-.288.092zm-3.399-2.879c.083 0 .167.021.242.062l2.498 1.381-.483-2.964c-.025-.157.024-.316.136-.43l2.07-2.122-2.839-.434c-.165-.025-.307-.131-.378-.282l-1.246-2.655-1.246 2.657c-.071.151-.213.257-.378.282l-2.839.434 2.07 2.122c.111.114.161.273.136.43l-.483 2.962 2.498-1.381c.075-.041.159-.062.242-.062z"
                                                        fill="#ffffff" data-original="#000000" class="" />
                                                </g>
                                            </g>
                                            <g xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                    <path
                                                        d="m12 24c-.043 0-.086-.005-.127-.017-.099-.025-9.873-2.703-9.873-11.804v-8.179c0-.209.131-.397.327-.469l9.5-3.5c.111-.041.234-.041.346 0l9.5 3.5c.196.072.327.26.327.469v8.179c0 9.102-9.774 11.779-9.873 11.805-.041.011-.084.016-.127.016zm-9-19.651v7.83c0 7.882 7.85 10.466 9 10.802 1.15-.336 9-2.92 9-10.802v-7.83l-9-3.316z"
                                                        fill="#ffffff" data-original="#000000" class="" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="port-desc">A complete portfolio enhances your chances of building winning applications for
                    colleges and
                    universities, and help us recommend best-fit projects for you.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-steps no-sm-pad">
                <p class="steps-p">Let’s build your portfolio together!</p>
                <ul>
                    <li (click)="university()">
                        <a class="completed">
                            <div>
                                <p class="progress-icon"></p>
                            </div>
                            <span>Location</span>
                        </a>
                    </li>
                    <li (click)="about()">
                        <a class="completed">
                            <hr>
                            <div>
                                <p class="progress-icon"></p>
                            </div>
                            <span>About</span>
                        </a>
                    </li>
                    <li (click)="pitch()">
                        <a class="completed">
                            <hr>
                            <div>
                                <p class="progress-icon"></p>
                            </div>
                            <span>Pitch</span>
                        </a>
                    </li>
                    <li (click)="Opportunities()">
                        <a class="active">
                            <hr>
                            <div>
                                <p class="progress-icon"></p>
                            </div>
                            <span>Opportunities</span>
                        </a>
                    </li>
                    <li (click)="campuscluture()">
                        <a>
                            <hr>
                            <div>
                                <p class="progress-icon"></p>
                            </div>
                            <span>Campus Culture</span>
                        </a>
                    </li>
                    <li (click)="communcation()">
                        <a>
                            <hr>
                            <div>
                                <p class="progress-icon"></p>
                            </div>
                            <span>Communication</span>
                        </a>
                    </li>
                    <li (click)="ambassdor()">
                        <a>
                            <hr>
                            <div>
                                <p class="progress-icon"></p>
                            </div>
                            <span>Student Ambassador </span>
                        </a>
                    </li>
                    <li (click)="documents()">
                        <a>
                            <hr>
                            <div>
                                <p class="progress-icon"></p>
                            </div>
                            <span>University media/documents</span>
                        </a>
                    </li>
                    <li (click)="importantdates()">
                        <a>
                            <hr>
                            <div>
                                <p class="progress-icon"></p>
                            </div>
                            <span>Application Process & Important Dates</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- =========1srnd form============== -->
            <div class="col-sm-8 no-pad">
                <!--============== 1st form==================== -->
                <div class="lead-form-wrapper" *ngIf="University==true">
                    <div class="lead-form container">
                        <p class="steps-login">1 of 9</p>
                        <p class="heading">Location</p>
                        <form class="login-form row">
                            <div class="group col-sm-6">
                                <div>
                                    <label class="select-label">Country*</label>
                                    <select>
                                        <option value="1">Select Country*</option>
                                        <option value="2">a</option>
                                        <option value="1">b</option>
                                        <option value="1">c</option>
                                    </select>
                                </div>
                            </div>
                            <div class="group col-sm-6">
                                <div>
                                    <label class="select-label">State*</label>
                                    <select>
                                        <option value="1">Select State*</option>
                                        <option value="2">a</option>
                                        <option value="1">b</option>
                                        <option value="1">c</option>
                                    </select>
                                </div>
                            </div>
                            <div class="group col-sm-6">
                                <div>
                                    <label class="select-label">City*</label>
                                    <select>
                                        <option value="1">Select City*</option>
                                        <option value="2">a</option>
                                        <option value="1">b</option>
                                        <option value="1">c</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6" style="border: 1px solid #444;
                            border-radius: 9px;
                            height: 47px;
                            padding-right: 10px;">
                                <div class="information"> Closest airport</div>
                                <div>
                                    <br>
                                    <div class="d-flex align-items-center radio"
                                        style="margin-left: -51%;margin-top: -6%;">
                                        <input class="radio-box" type="radio" />
                                        <label class="radio-label"
                                            style="margin-top: 3%; color: black;">Domestic</label>
                                    </div>
                                    <br>
                                    <div class="d-flex align-items-center radio"
                                        style="margin-left: -51%;margin-top:-8%;">
                                        <input class="radio-box" type="radio" />
                                        <label class="radio-label" style="margin-top: 7%;
                                    color: black;">International</label>
                                    </div>
                                </div>
                            </div>
                            <div class="group col-sm-6 no-pad add-item-btn">
                                <a href="">+ sign to add city and country of Other Campuses </a>
                            </div>

                        </form>
                    </div>
                    <div class="btn-wrapper">
                        <!-- <button class="backbutton">Back</button> -->
                        <div>
                            <button class="savebtn">Save and Complete later</button>
                            <button class="submitbutton">SAVE & NEXT</button>
                        </div>
                    </div>
                </div>
                <!--==========About Section=========== -->
                <div class="lead-form-wrapper" *ngIf="About==true">
                    <div class="lead-form container">
                        <p class="steps-login">2 of 9</p>
                        <p class="heading">About</p>
                        <form class="login-form row">
                            <p>All the lovely stuff you have done that we can promote.</p>
                            <div class="final-education-details">
                                <div>
                                    <label class="select-label">City*</label>
                                    <input type="text" placeholder="University Website">
                                </div>
                            </div>
                            <div class="final-education-details">
                                <h3>accrediting agency </h3>
                                <a href="" class="edit-link">+ ADD More</a>
                            </div>
                            <div class="final-education-details">
                                <h3>Undergraduate Programs</h3>
                                <a href="" class="edit-link">+ ADD More</a>
                            </div>
                            <div class="final-education-details">
                                <h3>Graduate Programs</h3>
                                <a href="" class="edit-link">+ ADD</a>
                            </div>
                            <div class="final-education-details">
                                <h3>Tile and Description</h3>
                                <a href="" class="edit-link">+ ADD</a>
                            </div>
                            <div class="final-education-details">
                                <h3>International Students</h3>
                                <a href="" class="edit-link">+ ADD</a>
                            </div>
                            <div class="final-education-details">
                                <h3>Domestic Students</h3>
                                <a href="" class="edit-link">+ ADD</a>
                            </div>
                            <div class="final-education-details">
                                <h3>University Video Link</h3>
                                <a href="" class="edit-link">+ ADD</a>
                            </div>
                        </form>
                    </div>
                    <div class="btn-wrapper">
                        <button class="backbutton">Back</button>
                        <div>
                            <button class="savebtn">Save and Complete later</button>
                            <button class="submitbutton">SAVE & NEXT</button>
                        </div>
                    </div>
                </div>
                <!-- =========2nd form============== -->
                <div class="lead-form-wrapper" *ngIf="Pitch==true">
                    <div class="lead-form container">
                        <p class="steps-login">3 of 9</p>
                        <p class="heading">Pitch</p>
                        <form class="login-form row">
                            <p>Enter your academic information, current and past. Add all school grades from grade 9
                                onwards. For college, add all years from the first year onwards.</p>
                            <div class="flex-div">
                                <div class="group col-sm-7 col-md-6 col-lg-5 pd-r15">
                                    <div>
                                        <textarea class="form-control form-control-sm"
                                            placeholder="About college/university to students"
                                            style="min-height: 44px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="final-education-details">
                                <h3>University Video Link</h3>
                                <a href="" class="edit-link">+ ADD</a>
                            </div>
                            <p class="grade-imp-msg">If you did not change your high school, you can select multiple
                                grades.</p>
                        </form>
                    </div>
                    <div class="btn-wrapper">
                        <button class="backbutton">Back</button>
                        <div>
                            <button class="savebtn">Save and Complete later</button>
                            <button class="submitbutton">SAVE & NEXT</button>
                        </div>
                    </div>
                </div>
                <!-- ==========3rd============== -->
                <div class="lead-form-wrapper" *ngIf="opportunities==true">
                    <div class="lead-form container">
                        <p class="steps-login">4 of 9</p>
                        <p class="heading">Opportunities</p>
                        <form class="login-form row">
                            <p>Enter your academic information, current and past. Add all school grades from grade 9
                                onwards. For college, add all years from the first year onwards.</p>
                            <button class="buttonoper" (click)="reseachbutton()">Research opportunities for
                                students</button>&nbsp;&nbsp;
                            <button class="buttonoper" (click)="insternshipbutton()">Internship opportunities for
                                students</button>
                            <div class="flex-div">
                                <div class="group col-sm-12" *ngIf="research==true">
                                    <h6 class="school--grade">
                                        Yoour Research Details
                                    </h6>
                                    <div class="group col-sm-12">
                                        <input type="text" required="required" value="" />
                                        <label>Add Name</label>
                                    </div>
                                    <div class="group col-sm-12">
                                        <input type="text" required="required" value="" />
                                        <label>Link</label>
                                    </div>
                                    <div class="group col-sm-12">
                                        <input type="text" required="required" value="" />
                                        <label>Specify UG or Graduate</label>
                                    </div>
                                    <div class="final-education-details">
                                        <h3>University Video Link</h3>
                                        <a href="" class="edit-link">+ ADD</a>
                                    </div>
                                </div>
                            </div>
                            <div class="group col-sm-12" *ngIf="internship==true">
                                <h6 class="school--grade">Your Intership Details</h6>
                                <div class="group col-sm-12">
                                    <input type="text" required="required" value="" />
                                    <label>Add Name</label>
                                </div>
                                <div class="group col-sm-12">
                                    <input type="text" required="required" value="" />
                                    <label>Link</label>
                                </div>
                                <div class="group col-sm-12">
                                    <input type="text" required="required" value="" />
                                    <label>Specify UG or Graduate</label>
                                </div>
                                <div class="final-education-details">
                                    <h3>University Video Link</h3>
                                    <a href="" class="edit-link">+ ADD</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="btn-wrapper">
                        <button class="backbutton">Back</button>
                        <div>
                            <button class="savebtn">Save and Complete later</button>
                            <button class="submitbutton">SAVE & NEXT</button>
                        </div>
                    </div>
                </div>
                <!-- =========4th=============== -->
                <div class="lead-form-wrapper" *ngIf="Campuscluture==true">
                    <div class="lead-form container">
                        <p class="steps-login">5 of 8</p>
                        <p class="heading">Campus Culture</p>
                        <form class="login-form row">
                            <div class="full-width">
                                    <p style="margin-bottom: 10px;padding-left: 10px;">Student organizations on campus 
                                    </p>
                                    <div class="group col-sm-12 ">
                                        <div>
                                            <input type="text" required="required" value="" />
                                            <label>Name of Student Organizations</label>
                                        </div>
                                    </div>
                                    <div class="group col-sm-12 grouprightpad">
                                        <div>
                                            <textarea class="form-control form-control-sm"
                                            placeholder="Brief Description"
                                            style="min-height: 44px;"></textarea>
                                        </div>
                                    </div>
                                </div>

                            <div class="favorites-details">
                                <div class="full-width">
                                    <p style="margin-bottom: 10px;">Campus News</p>
                                    <div class="group col-sm-12 groupleftpad">
                                        <div>
                                            <input type="text" required="required" value="" />
                                            <label>News Tilte</label>
                                        </div>
                                    </div>
                                    <div class="final-education-details">
                                        <h3>News Link</h3>
                                        <a href="" class="edit-link">+ ADD</a>
                                    </div>
                                    <div class="final-education-details">
                                        <h3>Add More News</h3>
                                        <a href="" class="edit-link">+ ADD</a>
                                    </div>
                                </div>
                                <div class="full-width">
                                    <p style="margin-bottom: 10px;">Campus newspaper/publications</p>
                                    <div class="group col-sm-12 groupleftpad">
                                        <div>
                                            <input type="text" required="required" value="" />
                                            <label>News Tilte</label>
                                        </div>
                                    </div>
                                    <div class="final-education-details">
                                        <h3>News Link</h3>
                                        <a href="" class="edit-link">+ ADD</a>
                                    </div>
                                    <div class="final-education-details">
                                        <h3>Add More News</h3>
                                        <a href="" class="edit-link">+ ADD</a>
                                    </div>
                                </div>
                            </div>
                            <div class="favorites-details">
                                <div class="full-width">
                                    <p style="margin-bottom: 10px;">Campus Jobs</p>
                                    <div class="group col-sm-12 groupleftpad">
                                        <div>
                                            <textarea class="form-control form-control-sm"
                                            placeholder="Describe Jobs"
                                            style="min-height: 44px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="final-education-details">
                                        <h3>Add More</h3>
                                        <a href="" class="edit-link">+ ADD</a>
                                    </div>
                                </div>
                                <div class="full-width">
                                    <p style="margin-bottom: 10px;padding-left: 10px;">
                                        Out-of-campus Jobs </p>
                                    <div class="group col-sm-12 ">
                                        <div>
                                            <textarea class="form-control form-control-sm"
                                            placeholder="Describr Jobs"
                                            style="min-height: 44px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="final-education-details">
                                        <h3>Add More</h3>
                                        <a href="" class="edit-link">+ ADD</a>
                                    </div>
                                </div>
                            </div>
                            <div class="favorites-details">
                            <div class="full-width">
                                <p style="margin-bottom: 10px;padding-left: 10px;">Key companies where your students have gone to work after graduation in the last 12-18 months
                                </p>
                                <div class="group col-sm-12 ">
                                    <div>
                                        <input type="text" required="required" value="" />
                                        <label>Name</label>
                                    </div>
                                </div>
                                <div class="final-education-details">
                                    <h3>Add More</h3>
                                    <a href="" class="edit-link">+ ADD</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="btn-wrapper">
                        <button class="backbutton">Back</button>
                        <div>
                            <button class="savebtn">Save and Complete later</button>
                            <button class="submitbutton">SAVE & NEXT</button>
                        </div>
                    </div>
                </div>
                <!-- ========5th=========== -->
                <div class="lead-form-wrapper" *ngIf="Communcation==true">
                    <div class="lead-form container">
                        <p class="steps-login">6 of 9</p>
                        <p class="heading">Communication</p>
                        <form class="login-form row">
                            <p>Social Media Channels</p>
                            <div class="final-education-details">
                                <input type="text" required="required"  placeholder="Add Name" value="" />
                            </div>
                            <div class="final-education-details">
                                <h3>Instagram</h3>
                                <a href="" class="edit-link">+ ADD </a>
                            </div>
                            <div class="final-education-details">
                                <h3>Facebook</h3>
                                <a href="" class="edit-link">+ ADD </a>
                            </div>
                            <div class="final-education-details">
                                <h3>Youtube</h3>
                                <a href="" class="edit-link">+ ADD </a>
                            </div>
                            <div class="final-education-details">
                                <h3>Linkedin</h3>
                                <a href="" class="edit-link">+ ADD </a>
                            </div>
                            <div class="final-education-details">
                                <h3>Add More Team Members</h3>
                                <a href="" class="edit-link">+ ADD </a>
                            </div>
                        </form>
                    </div>
                    <div class="btn-wrapper">
                        <button class="backbutton">Back</button>
                        <div>
                            <button class="savebtn">Save and Complete later</button>
                            <button class="submitbutton">SAVE & NEXT</button>
                        </div>
                    </div>
                </div>
                <!-- ============6th============ -->
                <div class="lead-form-wrapper" *ngIf="Ambassdor==true">
                    <div class="lead-form container">
                        <p class="steps-login">7 of 9</p>
                        <p class="heading">Ambassador</p>
                        <form class="login-form row">
                            <p>Tell us what you find cool. We will bring more of it.</p>

                            <div class="favorites-details">
                                <div class="full-width">
                                    <p style="margin-bottom: 10px;">Name 2 people who inspire you</p>
                                    <div class="group col-sm-12 groupleftpad">
                                        <div>
                                            <input type="text" required="required" value="" />
                                            <label>Name</label>
                                        </div>
                                    </div>
                                    <div class="group col-sm-12">
                                        <div>
                                            <input type="email" required="required" value="" />
                                            <label>Email</label>
                                        </div>
                                    </div>
                                    <div class="final-education-details">
                                        <a href="" class="edit-link">+ ADD More</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="btn-wrapper">
                        <button class="backbutton">Back</button>
                        <div>
                            <button class="savebtn">Save and Complete later</button>
                            <button class="submitbutton">SAVE & NEXT</button>
                        </div>
                    </div>
                </div>
                <!-- ===========7th============ -->
                <div class="lead-form-wrapper" *ngIf="Documents==true">
                    <div class="lead-form container">
                        <p class="steps-login">8 of 9</p>
                        <p class="heading">University and Media Documents</p>
                        <form class="login-form row">
                            <p>Describe and upload any key document for students</p>
                            <div class="final-education-details">
                                <input type="text" required="required" placeholder="Add Name" value="" />
                            </div>
                            <br><br>
                            <div class="final-education-details">
                                <h3>Upload</h3>
                                <a href="" class="edit-link">+ Add More</a>
                            </div>
                        </form>
                    </div>
                    <div class="btn-wrapper">
                        <button class="backbutton">Back</button>
                        <div>
                            <button class="savebtn">Save and Complete later</button>
                            <button class="submitbutton">SAVE & NEXT</button>
                        </div>
                    </div>
                </div>
                <!-- ===========8th============ -->
                <div class="lead-form-wrapper" *ngIf="Importantdates==true">
                    <div class="lead-form container">
                        <p class="steps-login">9 of 9</p>
                        <p class="heading">Application process and Important Dates</p>
                        <form class="login-form row">
                            <p>All the lovely stuff you have done that we can promote.</p>
                            <div class="final-education-details">
                                <h3>Describe any project/class project that you have done</h3>
                                <a href="" class="edit-link">+ ADD PROJECT</a>
                            </div>
                            <div class="final-education-details">
                                <h3>Share any writing sample, essays or any of your published or in-progress work that
                                    you wish to share</h3>
                                <a href="" class="edit-link">+ ADD</a>
                            </div>
                            <div class="final-education-details">
                                <h3>Upload your
                                    Letters of Recommendation (LoRs) or References.</h3>
                                <a href="" class="edit-link">+ ADD</a>
                            </div>
                            <div class="final-education-details">
                                <h3>Let’s showcase your credentials</h3>
                                <p style="margin-bottom: 0;">Add awards/certificates/
                                    participations/internship/volunteer experience/online
                                    learning</p>
                                <a href="" class="edit-link">+ ADD</a>
                            </div>
                        </form>
                    </div>
                    <div class="btn-wrapper">
                        <button class="backbutton">Back</button>
                        <div>
                            <button class="savebtn">Save and Complete later</button>
                            <button class="submitbutton">SAVE & NEXT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>