
.modal-form-wrap {
    background: #fff;
    border-radius: 25px;
    box-sizing: border-box;
    margin: 0;
    padding: 64px 42px 9px;
    position: relative;
    /* max-height: 367px; */
    text-align: center;
}
.modal-form-body1 {
    max-width: 700px;
    margin: 80px auto 40px auto;
}
.close-button {
    position: absolute;
    top: 0px;
    right: -45px;
}

.close-button img {
    width: 30px;
    height: 31px;
}

.forgot-password-heading {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #161616;
    margin-bottom: 8px;
}

.forgot-password-subheading {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: 0.56px;
    text-align: center;
    color: #161616;
    margin-bottom: 25px;
}

.next-btn {
    display: block;
    border-radius: 6.5px;
    background-color: #ff062f;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 0.78px;
    text-align: center;
    color: #fff;
    height: 49px;
    width: 100%;
    border: 1px solid #ff062f;
    margin-top: 20px;
    margin-bottom: 15px;
}

.next-btn:hover,
.next-btn:focus,
.next-btn:active {
    background: #f1072e;
    border: 1px solid #f1072e;
}

.back-btn {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
    margin-bottom: 38px;
    color: #ff062f;
    border-bottom: 1px solid #ff062f;
}

.back-btn:hover,
.back-btn:active,
.back-btn:focus {
    color: #f1072e;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.modal-form-wrap.reset-link-sent {
    padding: 70px 41px 65px;
}

.link-sent-image {
    width: 89px;
    height: 86px;
    object-fit: contain;
}

.modal-form-wrap.reset-link-sent .forgot-password-heading {
    margin-top: 20px;
    margin-bottom: 15px;
}

.modal-form-wrap.reset-link-sent .forgot-password-subheading {
    margin-bottom: 0;
}

@media screen and (max-width:575px) {
    .close-button {
        top: -42px;
        right: 4px;
    }
}

@media screen and (max-width:374px) {
    .modal-form-wrap {
        padding: 45px 30px 9px;
    }
    .forgot-password-heading {
        font-size: 26px;
    }
    .back-btn {
        margin-bottom: 25px;
    }
    .modal-form-wrap.reset-link-sent {
        padding: 50px 30px 45px;
    }
}

img {
    height: 42px;
    width: 42px;
}