.clg-footer {
  padding: 50px 0 15px 0;
  background-color: #fff;
  margin-top: 0px;
}

.dash-line {
  border-top: 1px dashed #d3d3d3;
}

.clg-fmenu-section {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: Nunito;
  color: #838383;
  padding: 20px 0;
}

.clg-fmenu-section a {
  margin: 0 10px;
  color: #838383;
  text-decoration: none;
}

.clg-fmenu-section a:hover {
  color: #3f89fc;
}

.clg-socialjoin-section {
  width: 100%;
  display: inline-block;
  padding: 0px 10px 40px 10px;
  text-align: center;
}

.clg-build-impact {
  font-size: 40px;
  color: #4E4E4E;
  font-family: Nunito;
  line-height: 1.2;
  display: block;
  margin-bottom: 20px;
}

.clg-social-section {
  width: 100%;
  display: inline-block;

}

.clg-social-section .backgroundSocial {
  width: 50px;
  height: 50px;
  background-color: #DDE5FD;
  border-radius: 10px;
  padding: 8px;
  display: inline-block;
  margin: 5px;
}

.clg-social-section .backgroundSocial img {
  width: 100%;
}

.clg-heading {
  font-size: 20px;
  font-family: Nunito;
  color: #141414;
}

.mask {
  width: 68px;
  height: 68px;
}

.light-text {
  font-size: 20px;
  font-family: Nunito;
  color: #838383;
}

.f-text {
  font-size: 18px;
  font-family: Nunito;
  font-weight: 400;
  color: #afafaf;
  font-style: italic;
}

.create-it-box {
  width: 170px;
  height: 40px;
  text-align: right;
  position: relative;
  display: inline-block;
}

.create-it-box span {
  width: auto;
  color: #FF914D;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: nowrap;
  animation: topToBottom 12s linear infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.create-it-box span:nth-child(2) {
  animation-delay: 2s;
}

.create-it-box span:nth-child(3) {
  animation-delay: 4s;
}

.create-it-box span:nth-child(4) {
  animation-delay: 6s;
}

.create-it-box span:nth-child(5) {
  animation-delay: 8s;
}

.create-it-box span:nth-child(6) {
  animation-delay: 10s;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    transform: translateY(-35px);
  }

  10% {
    opacity: 1;
    transform: translateY(0px);
  }

  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  30% {
    opacity: 0;
    transform: translateY(35px);
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width:1400px) {
  .clg-content {
    max-width: 1600px;
  }
}

@media only screen and (max-width: 991px) {
  .f-text {
    margin-bottom: 10px;
    font-size: 15px;
    color: #838383;
    font-weight: 500;
  }

  .clg-social-section .backgroundSocial {
    width: 40px;
    height: 40px;
  }

  .clg-socialjoin-section {
    padding: 0px 10px 20px 10px;
  }

  .clg-fmenu-section {
    display: contents;
    font-size: 16px;
  }

  .clg-fmenu-section a {
    display: block;
    margin: 15px 5px;
    font-weight: 500;
  }

  .light-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .clg-mobile-center {
    text-align: center !important;
  }

  .clg-build-impact {
    font-size: 26px;
  }

  .create-it-box {
    height: 30px;
    width: 100%;
    text-align: center;
  }

  .create-it-box span {
    font-size: 26px;
  }

}

.clg-partner-section {
  padding: 20px 0 20px 0;
  background-color: #fff;
}

.clg-partner-section ::ng-deep .slick-track {
  display: flex;
  align-items: center;
}

.clg-partner-section .clg-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.clg-partner-section .marqueeImg {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.clg-partner-section .marqueeImg-img {
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  max-width: 220px;
  max-height: 100px;
}

.clg-partner-section .clg-slides {
  padding: 10px;
}

.clg-partner-section .clg-slides .slide {
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.clg-footer .brush .center-brand-img {
  width: 100%;
  /*height: 270px;*/
}

@media screen and (min-width:1400px) {
  .clg-partner-section .clg-content {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1400px) {
  .clg-partner-section .clg-heading {
    font-size: 30px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .clg-partner-section .clg-heading {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  .clg-partner-section .clg-slides {
    min-width: 100px;
  }
}