.content {
  display: flex;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}

.center-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.audacity {
  color: #ffffff;
  font-size: 72px;
  font-family: "Nunito";
  font-weight: semiBold;
  font-style: normal;
  opacity: 1;
  line-height: 72px;
  margin-bottom: 4px;
}

.build {
  margin-bottom: 35px;
  margin-top: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-size: 25px;
  font-family: "Nunito";
  font-weight: Regular;
  font-style: normal;
  opacity: 1;
  line-height: 22px;
}

.work {
  /* background: #ff914d; */
  padding: 1px 5px;
  border-radius: 6px;
  margin-top: 5px;
}

.login-button {
  width: 80px;
  height: 46px;
  background: white;
  color: #3f89fc;
  border-radius: 4px;
  opacity: 1;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: Bold;
  border: none;
  outline: none;
  letter-spacing: 0px;
  margin: 7px 0;
  margin-right: 17px;
}

.invite-button {
  /*  width: 220px; */
  height: 46px;
  background: white;
  color: #3f89fc;
  border-radius: 4px;
  opacity: 1;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: Bold;
  border: none;
  outline: none;
  letter-spacing: 0px;
  margin: 7px 0;
}

.screen-button {
  width: 350px;
  height: 46px;
  background: #3f89fc;
  border-radius: 4px;
  opacity: 1;
  font-size: 20px;
  font-family: "Nunito";
  font-weight: Bold;
  border: none;
  outline: none;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 7px 0;
  margin-left: 7px;
}

.chat {
  position: fixed;
  bottom: 70px;
  right: 10px;
  color: white;
  padding: 8px;
  background: #3f89fc;
  border-radius: 8px;
  z-index: 1;
  display: none;
}

.active-slide {
  position: fixed;
  top: 40%;
  left: 15px;
}

.active-slide div {
  border: 2px solid white;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 5px 0;
}

.icons {
  position: absolute;
  top: 25%;
  right: 5px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.collegey {
  left: 24px;
  margin-right: 58px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 45px;
  background: #ff914d;
  opacity: 1;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 20px;
  font-family: "Nunito";
  font-weight: semiBold;
  letter-spacing: 0px;
}

@media only screen and (max-width: 440px) and (min-width: 320px) {
  .active-slide {
    display: none;
  }

  .icons {
    top: 30%;
    right: -7px;
  }

  .audacity {
    font-size: 38px;
    line-height: 51px;
  }
}

.share {
  display: none;
}

@media only screen and (max-width: 600px) {
  .share {
    display: block;
  }
}

.waitlist {
  font-size: 24px;
  font-family: Nunito;
  font-weight: bold;
  color: #023147;
  margin-bottom: 20px;
  line-height: 32px;
}

.info-box {
  background-color: #f2f2f2;
  border: 0.5px solid #969696;
  border-radius: 12px;
  padding: 20px;
  width: 404px;
  /* height: 531px; */
}

.form-box {
  padding: 30px;
  background: white;
  border-radius: 12px;
}

.modal-dialog {
  max-width: 400px !important;
  margin: 1.75rem auto;
}

.group {
  position: relative;
  padding: 0;
  width: 304px;
  margin-bottom: 20px;
}

.group div {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #979797;
  border-radius: 6px;
  padding: 9px 0 5px 0;
  margin-bottom: 5px;
}

input,
.lead-form textarea {
  background: #ffffff 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal normal 14px/19px Nunito;
  letter-spacing: 0px;
  color: #141414;
}

input::placeholder,
.lead-form textarea::placeholder {
  text-align: left;
  font: normal normal normal 14px/19px Nunito;
  letter-spacing: 0px;
  color: #dbdbdb;
}

input,
textarea {
  background: none;
  display: block;
  border: none;
  border-radius: 0;
  padding: 10px 10px 0 10px;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
  top: 5px;
  font: normal normal bold 10px/14px Nunito;
  letter-spacing: 0px;
  color: #d3d3d3;
}

input:focus~.bar:before,
textarea:focus~.bar:before {
  width: 100%;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

input {
  height: 40px;
}

label {
  position: absolute;
  pointer-events: none;
  transition: 300ms ease all;
  font: normal normal normal 14px/19px Nunito;
  letter-spacing: 0px;
  color: #dbdbdb;
  top: 17px;
  margin: 0;
  left: 10px;
}

.continue {
  background-color: #3f89fc;
  font-size: 14px;
  color: #ffffff;
  font-family: Nunito;
  font-weight: bold;
  line-height: 19px;
  border-radius: 6px;
  height: 40px;
  width: 304px;
  margin-top: 10px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #1f1d1d !important;
  /* background-clip: padding-box; */
  /* border: 1px solid rgba(0,0,0,.2); */
  /* border-radius: .3rem; */
  /* outline: 0; */
  border-radius: 12px !important;
}

modal-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-group,
.bottom-margin {
  margin-bottom: 18px;
}

.form-group .terms-conditions {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
  margin-top: 10px;
}

.form-group .label-terms-conditions {
  position: relative;
  cursor: pointer;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: left;
  color: #787878;
  pointer-events: visible;
  font-family: "Poppins", sans-serif;
  left: 0;
  padding-left: 30px;
}

.form-group .terms-conditions:checked+.label-terms-conditions:before {
  background: #ffeff2;
}

.form-group .label-terms-conditions:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 6px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 6px;
  border-radius: 1px;
  width: 20px;
  height: 20px;
  box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.04);
}

.terms-anchortext {
  text-decoration: none;
  color: #787878;
  font-weight: 600;
}

.form-group .terms-conditions:checked+.label-terms-conditions:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 7px;
  width: 6px;
  height: 10px;
  border: solid #ff062f;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
}

.error-message {
  color: #f44c47;
  font-size: 11px;
  position: absolute;
  bottom: -18px;
}

.error-padding {
  padding: 0 3px;
}

.agree_margin {
  margin-top: 5px;
}

.login-wrapper {
  padding-top: 16px;
  text-align: center;
}

/* Custom Css */

.clg-top-banner-sec {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 200px 40px;
}

.clg-top-banner-sec .clg-top-left {
  text-align: center;
}

.clg-top-banner-sec .clg-top-left .clg-log {}

.clg-top-banner-sec .clg-top-left .clg-tit {
  color: #fff;
  font-weight: 600;
  font-size: 52px;
  /* margin: 25px 0; */
}

.clg-top-banner-sec .clg-top-left .login-button {
  width: 100%;
  max-width: 350px;
  height: 46px;
  background: white;
  color: #3f89fc;
  border-radius: 4px;
  opacity: 1;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: Bold;
  border: none;
  outline: none;
  letter-spacing: 0px;
  margin: 7px 0;
}

.midTitle{
  margin: 0 auto;
}

.clg-top-banner-sec .clg-top-left .invite-button {
  height: 46px;
  background: white;
  color: #3f89fc;
  border-radius: 4px;
  opacity: 1;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: Bold;
  border: none;
  outline: none;
  letter-spacing: 0px;
  margin: 7px 0;
}

.clg-top-banner-sec .clg-top-left .screen-button {
  width: 100%;
  max-width: 350px;
  height: 46px;
  background: #3f89fc;
  border-radius: 4px;
  opacity: 1;
  font-size: 20px;
  font-family: "Nunito";
  font-weight: Bold;
  border: none;
  outline: none;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 7px 0;
}

@media screen and (min-width:1400px) {
  .clg-content {
    max-width: 1600px;
  }
}

@media screen and (max-width:1400px) {
  .clg-top-banner-sec {
    padding: 140px 40px;
  }

  .clg-top-banner-sec .clg-top-left .clg-tit {
    font-size: 40px;
  }
}

@media screen and (max-width:767px) {
  .clg-top-banner-sec {
    padding: 140px 10px 60px 10px;
    background-position: center left;
  }

  .clg-top-banner-sec .clg-top-left .clg-tit {
    font-size: 30px;
  }
}